/*
    actionRelatedUser.css
*/
.c_actionRelatedUser .btn-group{
	margin-right: 10px;
	top: 5px;
}

.form_import_user_lead_1 .search_user{
	height: 27px !important;
}
.form_import_user_lead_1 .apm_childtable_dosearch{
	position: relative;
	bottom: 6px;
}
.form_conver input[type="radio"] {
height: auto !important;
margin: 0;
margin-right: 5px;
}
