<!-- setModalTips_form.html
-->
<form action="" method="get" class="row-fluid form_addtips">
    <label class="control-label  lbl_float lbl_f span4" style="width:100% !important; margin-bottom: 15px;">Please propose a new Tip idea for '{{value_widget_title}}'. Your tip will be sent to our administrator for moderation</label>
    <label class="control-label  lbl_float lbl_f span4">Title:</label><input class="span8" type="text" name="tip_title">
    <label class="control-label  lbl_float lbl_f span4">Information:</label><textarea name="tip_information" rows="10" class="span8" style="width:66% !important" ></textarea>
    <input type="hidden" name="tip_type" value="{{value_type}}" />
    <input type="hidden" name="tip_widget" value="{{value_tip}}" />
</form>
