<!-- setModalTips_form_admin.html
-->
<form action="" method="get" class="form_admin_addtips">
    <div class="row-fluid">
        <div class="span12">
            <label class="span4">Title:</label><input class="span8" type="text" name="tip_title">
            <label class="span4">Information:</label><textarea name="tip_information" rows="10" class="span8" style="width:66% !important"></textarea>
        </div>
        <div class="span12">
            <div class="span6">
                <label class="span6">Type:</label>
                <select class="span6" name="tip_type">
                    <option value="a">A/ Title + Modal text</option>
                    <option value="b">B/ Title + Modal text, open for Agent with moderation from Admin</option>
                    <option value="c">C/ Title + Modal text + Link</option>
                    <option value="d">D/ Title + Modal text + Link + Video</option>
                </select>
            </div>
            <div class="span6">
                <label class="span6">Widget destination:</label>
                <select class="span6" name="tip_widget">
                    <option value="how">How it works (Type A/)</option>
                    <option value="things">Things that work (Type B/)</option>
                    <option value="advant">Advantages (Type B/)</option>
                    <option value="during">During the pitch checklist (Type B/)</option>
                    <option value="customer">Customer service (Type B/)</option>
                    <option value="after">After sign up checklist (Type C/)</option>
                    <option value="support">Support process (Type C/)</option>
                    <option value="available">Available training and videos (Type D/)</option>
                </select>
            </div>
        </div>
        <div class="span12">
            <div class="span6">
                <label class="span6" for="tip_url">Link URL:</label>
                <input id="tip_url" class="span6" type="text" value="" name="tip_url">
            </div>
            <div class="span6">
                <label class="span6" for="tip_video">Link Video:</label>
                <input id="tip_video" class="span6" type="text" value="" name="tip_video">
            </div>
        </div>
        <div class="span12">
            <p class="help-block span6">Only for Tip type C/ or D/ </p>
            <p class="help-block span6">
                Only for Tip type D/ .
                <br>
                Put here the Embed Url code from Youtube, example: TnVQpXMvwl8 for a url http://www.youtube.com/watch?v=TnVQpXMvwl8
            </p>
        </div>
    </div>
</form>
