/*
    setAlertPanel.css
*/
.AlertPanel{
    position:absolute;
    top:-300px;
    right:100px;
    width:300px;
    background: #fff;
    border:solid 1px #ddd;
    z-index: 5000;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.Alertwarning{
    background:#faa732!important;
    color:#fff!important;
}
.Alerterror{
    background:#ff4b33!important;
    color:#fff!important;
}
.Alertok{
    background:#2e8a19!important;
    color:#fff!important;
}
.Alertdefault{
    background:#fff!important;
    color:#000!important;
}
.AlertPanelTitle{
    padding: 8px 8px;
    font-size:16px;
    color:#fff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    background: linear-gradient(bottom, #999, #777);
    background: -prefix-linear-gradient(top, #999, #777);
    background: -webkit-linear-gradient(bottom, #999, #777);
    background: -moz-linear-gradient(bottom, #999, #777);
    background: -ms-linear-gradient(bottom, #999, #777);
    background: -o-linear-gradient(bottom, #999, #777);
    border-bottom:1px solid #ddd;
}
.AlertPanelTxt{
    padding: 8px 8px;
    font-size:14px!important;
}
.doCloseAlert{
    cursor: pointer;
}