<!-- setModuleGridTableFooter.html
-->
<div class="navbar">
    <div class="navbar-inner navbar-innermaingrid">
        <form class=" pull-left" >
            <span class='footertalab'>
                <label>Items: <span class='footertalabitems'>Loading...</span></label> |
                <label>Items/Pages: </label>
            </span>
            <div class="btn-group btn-mini ori_nbofpages">
                <span class="btn btn-mini hasTooltip" data-value="10"  title='Load 10 rows by page' data-placement='right'>10</span>
                <span class="btn btn-mini hasTooltip" data-value="25"  title='Load 25 rows by page' data-placement='right'>25</span>
                <span class="btn btn-mini hasTooltip" data-value="50"  title='Load 50 rows by page' data-placement='right'>50</span>
                <span class="btn btn-mini hasTooltip" data-value="100"  title='Load 100 rows by page' data-placement='right'>100</span>
                <span class="btn btn-mini hasTooltip" data-value="200"  title='Load 200 rows by page' data-placement='right'>200</span>

            </div>
        </form>
        <form class="pull-right" >
            <div class="pagination pagination-mini pagin-shorttop"  >
                <ul  class='ori_footerpaging'>

                </ul>
            </div>
        </form>
    </div>
</div>
