<!-- setModuleGridTableFooterPaging.html
-->
<li class="oripag_fir " ><a href="javascript:void(0);" class='hasTooltip' title='Load the First page' data-placement='top'><<</a></li>
<li class="oripag_prev "><a href="javascript:void(0);" class='hasTooltip'  title='Load the Previous page' data-placement='top'><</a></li>
{{paging}}
<!--li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">7</a></li>
<li><a href="#">8</a></li>
<li><a href="#">9</a></li>
<li><a href="#">10</a></li>
<li><a href="#">20</a></li>
<li><a href="#">30</a></li-->
<li class="oripag_nex "><a href="javascript:void(0);" class='hasTooltip' title='Load the Next page' data-placement='top' >></a></li>
<li class="oripag_las "><a href="javascript:void(0);" class='hasTooltip' title='Load the Last page' data-placement='top' >>></a></li>
