<!-- actionRelatedUser_import_user_lead_2.html
-->
<div class="form_import_user_lead_2 form_conver">

	<form action="" method="get">
		
    <div><label class="control-label  lbl_float lbl_f">First name:</label><span><input class="input-xlarge apm_is_required" type="text" name="first_nameagent" value="{{value_fristname}}"></span></div>
    
	<div><label class="control-label  lbl_float lbl_f"><input type="checkbox" name="cb_lastname"  checked="checked" >Last Name:</label><span><input class="input-xlarge" type="text" name="contact_lastname" value="{{value_lastname}}"></span></div>
    
	<div><label class="control-label  lbl_float lbl_f">Email Pro:</label><span><input class="input-xlarge apm_is_required" type="text" name="email_agent" value="{{value_emailpro}}"></span></div>
    
	<div><label class="control-label  lbl_float lbl_f"><input type="checkbox" name="cb_gender"  checked="checked" >Gender:</label><span><input class="input-xlarge" type="text" name="value_gender" value="{{value_gender}}"></span></div>
	
	<div><label class="control-label  lbl_float lbl_f"><input type="checkbox" name="cb_phone"  checked="checked" >Phone:</label><span><input class="input-xlarge" type="text" name="value_phone" value="{{value_phone}}"></span></div>
    
	<div><label class="control-label  lbl_float lbl_f"><input type="checkbox" name="cb_country"  checked="checked" >Country:</label><span><input class="input-xlarge" type="text" name="value_country" value="{{value_country}}"></span></div>
    
	<div><label class="control-label  lbl_float lbl_f"><input type="checkbox" name="cb_city"  checked="checked" >City:</label><span><input class="input-xlarge" type="text" name="value_city" value="{{value_city}}"></span></div>
	
	<div><label class="control-label  lbl_float lbl_f"><input type="checkbox" name="cb_zip"  checked="checked" >Zip Code:</label><span><input class="input-xlarge" type="text" name="zipcode" value="{{value_zip}}"></span></div>
	
	<div><label class="control-label  lbl_float lbl_f"><input type="checkbox" name="cb_street"  checked="checked" >Street:</label><span><input class="input-xlarge" type="text" name="value_street" value="{{value_street}}"></span></div>
    
	<div><label class="control-label  lbl_float lbl_f"><input type="checkbox" name="cb_company"  checked="checked" >Company:</label><span><input class="input-xlarge" type="text" name="company_name_office" value="{{value_company_name_office}}"></span></div>
	
	<p>Validating and importing this user's data will overwrite eventual existing lead's data
	<br/>Once imported in the form you will need to save the form to store the data</p>
	
	</form>
	
</div>