<!-- actionRelatedUser_import_user_lead_1.html
-->
<div class="form_import_user_lead_1 form_conver">
	<p><span>Pick a user in the list:</span>
	<select id="select_import_user_lead" name="select_import_user_lead" class="combobox apm_monoselect" disabled>
		<option value="">loading...</option>
	</select>
	</p>
	<p><span>Or Search for a user:</span>
	<input type="text" class="search_user " placeholder="Type to search a user">
	<a href="javascript:void(0);" class="hasTooltip  btn btn-small apm_childtable_dosearch" rel="tooltip" data-original-title="Type to search a user"><i class="icon-search"></i> </a>
	</p>
	<div class="showUserListSearch"><ul></ul></div>
</div>