<!-- setModuleGridLeftPanAds.html
-->

    <div id='leftpan_ads' class='well wellads'>
        FREE VERSION of <a href='http://apmcrm2013.weproduceweb.com/' target="_blank" >BLUE ORIGAMI CRM</a>
        </br>The PRO Version based on this Free version has been stopped but the Free version will continue to have small improvement.
        <a href='http://apmcrm2013.weproduceweb.com/' target="_blank" >More Infos</a>.
        And a full new BLUE ORIGAMI PRO totally rebuild from zero to be much much better  is in progress for maybe middle 2014.
        <a href='http://apmcrm2013.weproduceweb.com/blue_origami_crm_pro' target="_blank" >PRO VERSION</a>.
    </div>