<!--
setGlobalFieldsItems_modalWindow.html.
my_extensions_views['setGlobalFieldsItems_modalWindow'].tpl
-->
<div id="myModalGlobalWin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
         <h4  class="modal_title">Title</h4>
    </div>
    <div class="modal-body add_modal_form">
              
    </div>
    <div class="modal-footer">
        <span class="modal_global_alert"></span>
        <a class="btn model_close_btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a class="btn btn-primary modal_action_btn">Action</a>
    </div>
</div>
