/*
    setMailAttachment.css
*/
.apm_groupblocks2cols{
    background: #fff ;
    border:1px #ccc solid;
    padding:3px 3px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.apm_file_dragdropzone{
    background: #ccc ;
    border:1px #aaa solid;
    padding:25px 15px;
    margin:4px 0 0 0!important;

}
.apm_fileattach_pick{
    padding: 4px 0 12px 0;
    float:none;
}
.apm_wellcol{
    margin:2px 2px!important;
}
.apm_uploadhidden{
	display:none;
}
.apm_file_dragdropzone.hover{
	color: #f00;
	border-color: #f00;
	box-shadow: inset 0 3px 4px #888;
}

#progress {float: left;}
#progress p{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("images/progress.png") 100% 0 repeat-y;
}

#progress p.success{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed{
	background: #c00 none 0 0 no-repeat;
}