<!-- setAddRelatedli.html
-->
<li>
    <span class="pull-left">
        <img src='{{iconsrc}}' style='width: 14px;float: left; margin:2px 5px 0 0'/> {{name}}
    </span>
    <span class="pull-right">
        <a href="{{href}}" class="btn btn-mini btn-info" data-posttype="{{posttype}}"> <i class="icon-plus icon-white hasTooltip" rel="tooltip" title="Add in this window"></i></a>
        <a href="{{href}}" target="_blank"   class="btn btn-mini btn-info" data-posttype="{{posttype}}"><i  rel="tooltip" title="Add in new window" class="icon-share-alt icon-white hasTooltip" ></i></a>
    </span>
    <span class="clearfix"></span>
</li>