<label class="control-label lbl_float lbl_f lbl_padtop lbl_marg_right_s">{{label}}: </label>
<input {{placeholder}} class="autocomplete_field autocomplete_field_save_ajax input-small input-hsmall " post_type="users" fieldname="{{field}}" type="text" id="autocomplete_{{field}}" name="{{field}}_displayvalue" value="{{display_value}}" autocomplete="off" />
<input class="autocomplete_field_value"  type="hidden" id="autocomplete_data_{{field}}" name="{{field}}{{meta_marker}}" value="{{value}}" initial_value="{{value}}"/>
{{btns}}