<div class="btn-group  pull-rights">
    <button class="btn btn-mini dropdown-toggle btn-adjust-pos_s" data-toggle="dropdown">
        Action
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu  apm_adj_size_drop">
        <!--li><a href="javascript:void(0);" class="apm_select_user" >Select a user in search grid</a></li-->
        <li><a href="javascript:void(0);" class="apm_add_user" >Add a new user</a></li>
        <li><a href="javascript:void(0);" class="apm_open_user" user_id="{{value}}">Open profile</a></li>
    </ul>
</div>