/*
 * @import url(http://fonts.googleapis.com/css?family=Anton&subset=latin,latin-ext);
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,latin-ext,vietnamese);

/*@import url(fields_type/team_field.css);
@import url(fields_type/in_body_category_select_field.css);*/
.apm_checboxnew{
    margin: 0 0 0 0;
    padding:0 0;
    display:block;
    float:left;
    width:20px;
    height:17px;
}
.apm_checboxnew input{
    margin: -1px 0 0 0;
}
.show-pointer:hover{
    cursor:pointer;
}
.apm-radiovalue{
    margin: 5px 0 0 0;
    padding:0 0 0 3px;
    display:block;
    float:right;
}
.apm-radiocont{
    margin: 0 3px;
    padding:0 0;
    display:block;
    float:left;
    height:17px;
}
.apm-radiocont input{
    margin: -1px 0 0 0;
}

.info-small{
    font-size:11px; color:#666;
}
.info-medium{
    font-size:12px; color:#666;
}
.apm_small_link{
    font-size:11px;float: right;
}
.apm_separator{
    border-bottom:1px solid #ccc; padding: 4px 2px 4px 2px;margin:0 0;
}
.rte_content{padding: 5px 5px; border: 1px #ccc solid; background: #fff; margin: 0 0 8px 0}
.space-left-20{padding: 1px 0 0 20px; dispay:block; float:right;}
.space-left-20 input{margin:4px 0 0 0}
.apm_table_label{
    font-size:15px; color:#000;
    padding: 7px 15px 0 0;
    display:block; float:left;
}

.add_modal_form label{display:block!important; float:left!important; text-align:left!important; width:150px!important;}
.add_modal_form input .add_modal_form select, .add_modal_form textarea{ width:200px!important;}
.categ_list{
    border:1px #ccc solid; padding:5px; margin:5px 0; height:200px; overflow:auto; background:#fff;
}
.postbox input {font-size:11px!important; height:26px!important;}
.categ_list label{display:block; padding: 15px 0 0 3px; }
.categ_list li { margin:-7px 0 0 0;}
.subcateg_list{
    padding:0 0 0 20px;
}
.modal_zoom_panel .modal-body{font-size:12px;}
.modal_zoom_panel .modal-body span{color:#555;}
.accord_title{
    font-size:15px!important;
}
.apm_uploadfields{
    width:98%;
    height:auto;
    border:1px solid #ccc;
    padding: 5px 5px;
}
.apm_thumbs p{
    margin: 2px 0;
    padding: 0 0;
}
.apm_thumbs p span{
    color:#999;
}
.filenames_container{
    width:320px;
    border:1px solid #ccc;
    padding: 5px 5px;
    margin: 0 0 5px 0;
}
.uploadform_base{
    background:white;
    width:360px;
    border:1px solid #ccc;
    padding: 5px 5px;
    margin: 0 0 5px 0;
}

/* #submitdiv{display:none!important;}*/

.pull-rights .dropdown-menu:after {
    left: auto;
    right: 13px;
}
.pull-rights .dropdown-menu {
    left: auto;
    right: 0;
}
.input-hsmall{
    height:23px!important;
    font-size:12px!important;
    margin-top:5px;
}
.apm_comments_btn{
    padding: 8px 5px;
}
.comm_edit_in{
    padding: 10px 0 0 0;
    display:none;
}
.apm_commedit_btns_cont{
    padding: 0 30px 0 0;
    width:150px;
    float:right;
    display:none;
}
.apm_com_success a{
    color:#fff;
}
.apm_comments_descr{
    padding: 2px 5px 5px 5px;
    color:#555;
}
.apm_delet_comment{
    float:right;
    padding: 2px 2px;
    margin: 2px 2px;
    cursor: pointer;
    font-size:10px;
}
.apm_edit_comment{
    font-size:10px;
    float:right;
    padding: 2px 2px;
    margin: 2px 2px;
    cursor: pointer;
}
.apm_rte_container{
}
.apm_rte_container_hide{
    display:none;
}
.apm_comments_block{
    padding: 5px 0;
    margin: 10px 0 0 0;
}
/*
 * *BOOTSTRATP FORMS
*/
.lbl_float{float:left!important;}
.control-label {
    font-size:14px!important;
    font-weight:300;
    color:#555;
    width: 160px;
    padding:2px 5px;
    text-align: right;
}
.apm_rte{
    width:500px!important;
}
.btn-group_not_relative {
    position:static!important;
}

.nav-tabs-xtra{
    margin: 8px 0 0 0!important;
}
.tab-content-xtra{
    margin: 0 0 0 0!important;
    border:1px solid #ccc;
    padding: 5px 5px;
}
.apm_adj_size_drop,.apm_adj_size_drop li, .apm_adj_size_drop li a{
    font-size:12px!important;
    z-index:10000;
}
.btn-adjust-pos{
    margin-top:-11px!important;
}
.btn-adjust-pos_s{
    margin-top:-8px!important;
}
.adjust_display_txt{
    padding: 4px 0 0 4px;
    display:block; float:left;
}
.input-100perc {
    width: 100%;
}
.input-xxxlarge {
    width: 600px;
}
.input-smallmedium {
    width: 115px;
}
.input-medium {
    width: 135px;
}
.input-xllarge {
    width: 400px;
}
.input-largemedium {
    width: 185px;
}
.help-block{font-size:11px;padding: 0 2px; margin: 0 0;}
label{font-size:12px!important; float:none!important; display:inline !important; margin: 0 0; paddding: 0 0}


.lbl_top{
    width:auto;
    display:inline!important;
    padding: 0 0;
    padding-top:-10px!important;
}
.lbl_padtop{
    padding-top:6px!important;
}
.lbl_marg_right_s{
    margin-right:8px!important;
}
.btn_left_mar{
    margin-left:7px!important;
}
.nav_s{
    height:30px!important;
}
.top_mar_4{margin-top:4px}
body{font-size:13px}/*!important;*/
input{font-size:18px!important;height:34px!important}
.row-fluid input, .row input, .row select.apm_monoselect , .row-fluid select.apm_monoselect {font-size:13px!important;height:26px!important}
.row select.apm_multiselect , .row-fluid select.apm_multiselect{font-size:13px!important}
select.sel_h-mini{height:50px!important}
select.sel_h-small{height:100px!important}
select.sel_h-medium{height:150px!important}
select.sel_h-large{height:200px!important}
select.sel_h-xlarge{height:250px!important}
#accordion input{font-size:12px!important;height:20px!important}
.lbl_f{ width:auto!important}
.lbl_s{ width:60px!important}
.lbl_sm{ width:80px!important}
.lbl_m{ width:100px!important}
.lbl_ml{ width:120px!important}
.lbl_l{ width:140px!important}
.lbl_xl{ width:160px!important}
.lbl_xxl{ width:180px!important}

/*
 * *APPLICATION PAGE DISPLAY
*/

.sort_sel{color:#005599;}
.sort_unsel{color:#999; cursor:pointer}
.sort_unsel:hover{color:#005599; cursor:pointer}
/*****MULTISELECT AUTOSUGGEST
 *
*/
.multi_select_autosuggest_list{
    /*width:100%;
    height:200px;
    overflow:auto;
    border:1px solid #888888;*/
}
.multi_select_autosuggest_list li {
    padding: 3px 10px 0 0;
}
.multi_select_autosuggest_list li img{
    cursor:pointer;
}

.add_multi_select_autosuggest_list{
    cursor:pointer;
}
.add_multi_select_autosuggest_list:hover{
    color:#005599;
}
/****PHOTO GRID***/

.apm_photo_grid{
    padding:5px 5px;
    float:left;
}
/***GRID ****/

.row_xxl{
    font-size:15px; font-weight:bold;
}
.row_n{
    font-size:12px; ;
}
.row_sm{
    font-size:9px; ;
}
.row_highlight{
    padding: 4px 2px;
    margin: 0 0;
}
.apm_table_tbody td {
    border-bottom:1px solid #ddd;
}
.apm_grid_settings{
    padding:8px 8px;
}
.apm_grid_main_header{
    background:#eeeeee;
    border-bottom:1px solid #cccccc;
}
.apm_grid_status_zone{
    padding: 3px 3px;
    float:left;

}
.apm_highlight{
    font-weight:bold;
}
.apm_status_txt{
    display:block;
    width: 400px;
    float:left;
}
.apm_loader_img {
    display:block;
    float:left;
    width:20px;
    padding: 1px 3px 0 0
}

#apm_grid_block{
    float:left;
    width:75%;
}
.apm_grid_az_header {
    margin:0 0;
    padding: 6px 3px ;
    font-size:13px;
    background:#eeeeee;
    border-bottom:1px solid #cccccc;
}
.apm_grid_az_header li {
    display:inline;
    border:none;
    margin:0 0;
}
.apm_grid_az_header li a{
    text-decoration:none;
    padding: 2px 4px;
    margin: 1px 1px;
    color:#555555;
}
.apm_grid_az_header li a:hover{
    text-decoration:none;
    padding: 2px 4px;
    margin: 1px 1px;
    color:#005599;
    background:#cccccc;
}
.apm_grid_zone{
    border-right:1px solid #cccccc;
    height: 500px;
    overflow: auto;
}
.apm_grid_zone table{
    border:none;
    width:100%;
}
/*
div.apm_grid_zone {
        clear: both;
        height: 500px;
        overflow: auto;
        width:100%;
}
div.apm_grid_zone table {
        float: left;
        width:100%;
}
html>body div.apm_grid_zone table {
        width:100%;
}
html>body div.apm_grid_zone {
        overflow: hidden;
        width:100%;
}
thead.fixedHeader tr {
        position: relative
}
thead.fixedHeader tr th {
        padding: 1px 3px;
}

html>body thead.fixedHeader tr {
        display: block
}

html>body tbody.scrollContent {
        display: block;
        height: 500px;
        overflow: auto;
        width: 100%
}
html>body tbody.scrollContent  td{
        padding: 1px 3px;
}
*/


#apm_grid_actions_layer{
    position:absolute;
    top:100px;
    display:none;
    z-index:1000;
    left:0;
    background:#ffffff;
    border:1px solid #cccccc;
}
.apm_act_cancel{
    cursor:pointer;
    padding: 2px 4px;
    color:#00aaaa;
}
.apm_act{
    padding: 1px 1px !important;
    width:18px;
    height:18px;
    display:block;
    cursor:pointer;
    float:left;
}

.apm_act_grid{
    padding: 1px 1px !important;
    width:18px;
    height:18px;
    display:block;
    cursor:pointer;
    float:left;
}
.apm_grid_field_unselected{
    color:#888;
    cursor:pointer;
    border-right: 1px solid #aaa;
    padding: 3px 3px;
}
.apm_grid_field_unselected:hover{
    color:#005599;
}
.apm_grid_field_selected{
    color:#000;
    cursor:pointer;
    padding: 3px 3px;
    border: 1px solid #aaa;
    background:#eee;
}
.apm_grid_field_selected:hover{
    color:#005599;
}
.apm_open_advanced_search{
    background:url(../../img/search_16.png)  no-repeat 1px !important;
    padding: 1px 1px 1px 23px;
    cursor:pointer;
}
.apm_open_advanced_search:hover{
    color:#005599;
}
.apm_sidebar_content_advanced_search{
    display:none;
}
.apm_close_advanced_search{
    background:url(../../img/stop_16.png)  no-repeat 1px !important;
    padding: 1px 1px 1px 23px;
    cursor:pointer;
}
.apm_close_advanced_search:hover{
    color:#005599;
}
.apm_search_btn{
    padding: 1px 1px;
    height:23px!important;
    width:23px!important;
    cursor:pointer;
    margin: 0 0;
}
#wpbody-content{
    padding-bottom:5px!important;
}
.apm_search_cancel_btn{
    padding: 1px 1px;
    height:23px!important;
    width:23px!important;
    cursor:pointer;
    margin: 0 0;
}
/*
.apm_refresh_btn{
    background:url(../../img/reload_16.png)  no-repeat 3px !important;
    padding: 3px 3px 3px 3px;
    float:right;
    cursor:pointer;
}*/

.apm_refresh_btn{
    float:right;
    margin: 2px 0 0 0;
}
.apm_pagin_header_zone{
    padding: 3px 3px;
    margin: 0 0 0 10px;
    border-left:solid 1px #666666;
    float:right;
}


.apm_pagin_header_zone span {
    color:#005599;
    background:#bbbbbb;
    padding: 4px 4px;
    cursor:pointer;
}
.apm_pagin_header_zone span:hover {
    background:#005599;
    color:#ffffff;
    font-weight:bold;
    cursor:pointer;
}

.apm_pagin_header_zone span.inactive {
    color:#666666;
    background:none;
    padding: 4px 4px;
    cursor:default;
}

.apm_pagin_header_zone span.inactive:hover {
    color:#666666;
    background:none;
    font-weight:normal;
    padding: 4px 4px;
    cursor:default;
}

.apm_act_add{
    background:url(../../img/plus_16.png)  no-repeat 3px !important;
}
.apm_act_view{
    background:url(../../img/article.gif)  no-repeat 3px !important;
}
.apm_act_edit{
    background:url(../../img/pencil_16.png)  no-repeat 1px !important;
}
.apm_act_del{
    background:url(../../img/delete_16.png)  no-repeat 3px !important;
}
.apm_act_pending{
    background:url(../../img/warning_16.png)  no-repeat 3px !important;
}
.apm_act_trash{
    background:url(../../img/trash_16.png)  no-repeat 3px !important;
}
.apm_act_unpub{
    background:url(../../img/block_16.png)  no-repeat 3px !important;
}
.apm_act_pub{
    background:url(../../img/tick_16.png)  no-repeat 3px !important;
}
.apm_export_csv{
    background:url(../../img/filetypes/16px/xls.png)  no-repeat 3px !important;
}
td.td_status{
    width:22px;
}
.apm_pad_icon{
    padding: 3px  0 3px 23px;
    margin: 3px 3px;
    cursor:pointer;
    display:inline;
}
.apm_pad_icon:hover{
    padding: 3px  0 3px  23px;
    margin: 3px 3px;
    color:#005599;
    cursor:pointer;
    display:inline;
}
.apm_filter_icon{
    padding: 3px  0 3px 23px;
    margin: 3px 3px;
    cursor:pointer;
    display:inline;
}
.apm_filter_icon:hover{
    padding: 3px  0 3px 23px;
    margin: 3px 3px;
    color:#005599;
    cursor:pointer;
    display:inline;
}
.apm_act_title{
    font-weight:bold;
    padding: 12px 0 0 4px;
    border-bottom: 1px solid #bbbbbb;
    font-size:13px;
    color:#555555;
}
.apm_act_fav{
    background:url(../../img/heart_16.png)  no-repeat 3px !important;
}
.apm_act_info{
    background:url(../../img/info_16.png)  no-repeat 3px !important;
}
.apm_act_action{
    background:url(../../img/right_16.png)  no-repeat 3px !important;
}


.apm_grid_zone thead{
    border:none;
    background:#dddddd;
}
.apm_grid_zone th{
    margin:0;
    padding: 2px 2px;
    border-left:1px solid #cccccc;
}
.apm_grid_zone th.apm_grid_head_cb_thtd{
    text-align:left;
    border:none;
    width:20px;
}
.apm_grid_zone th.apm_gr_act{
    width:25px;
}

.apm_grid_zone td{
    margin:0;
    padding: 2px 2px;
    border-left:1px solid #dddddd;
}
.apm_grid_zone td.td_cb{
    border:none;
}
.apm_grid_footer{
    background:#eeeeee;
    border-top:1px solid #cccccc;
    padding:2px 2px;
}
.apm_sidebar_block{
    width:25%;
    min-width: 200px;
    float:left;
    background:#eeeeee;
}
.apm_sidebar_title{
    padding: 5px 5px;
    margin:0 0;
    font-size:16px;
    display:block !important;
    background:#dddddd;
}
.apm_sidebar_content{
    padding: 5px 5px;
}
/**** MAIN TABS  ****/

.h2-small{
    font-size:15px;
}
#portal_tabs .htabs a{
    font-size:15px;
    text-decoration:none;
    border:1px solid #bbbbbb;
    padding:4px 4px;
    background:#eeeeee;
    color:#555555;
}
#portal_tabs .htabs a:hover{
    color:#005599;
    padding:4px 4px;
    text-decoration:none;
    background:#cccccc;
}

#portal_tabs .htabs a.select{
    color: #005599;
    border:1px solid #bbbbbb;
    border-bottom:none;
    padding:4px 4px;
    background:#ffffff;
}

#portal_tabs .htabs {
    padding: 3px 0;
    margin:0 0 ;
    float:none;
}
#portal_tabs .htabs li{
    display:inline;
    margin:0 0;
}
#portal_tabs .tabs {
    padding: 0 0 !important;
    margin:0 0 !important;
}
#portal_tabs .tabs .tab {
    padding: 0 0 !important;
    margin:0 0 !important;
}
.bmod{
    padding: 0 0 !important;
    margin:0 0 !important;
}
/*** TYPE FACE MANAGEMENT ***/


.typeface-float{
    padding:5px 5px ;
    float:left;
}*/
.apm_img_up {
    padding: 0  3px;
    width:20px;
    height:50px;

    float:left;
    display:block;
}
h2 span{
    font-size:26px;
}
h2 a {
    font-size:26px;
}

.apm_search{
    font-size:12px;
    float:right;
}
.apm_module_list li{
    display:inline;
    font-size:14px;
    padding:5px 2px;
    color:#555555;
    border-bottom:1px solid #bbbbbb;
}

.apm_module_list li a{
    text-decoration:none;
    background:#dddddd;
    padding: 5px 6px;
    border:1px solid #bbbbbb;
}

.apm_module_list li.apm_module_selected{
    border:1px solid #bbbbbb;
    border-bottom:none;
    padding: 5px 6px;
    background:#ffffff;
}
.apm_module_list li.apm_module_selected a{
    border:1px solid #ffffff;
    border:none;
    padding: 5px 6px;
    background:#ffffff;
}
.add-new-h2{
    display:none;
    background:url(../../img/plus_16.png) #dddddd no-repeat 3px !important;
    padding: 3px 3px 3px 22px !important;
}

.convert_btn{
    background-color:#00aaaa !important;
    color:#ffffff !important;
    cursor:pointer;
    font-size:17px;
}
.action_btn_green{
    background-color:#00aa00 !important;
    color:#ffffff !important;
    cursor:pointer;
    font-size:17px;
}
.action_btn_red{
    background-color:#aa0000 !important;
    color:#ffffff !important;
    cursor:pointer;
    font-size:17px;
}
.apm_none_style{
    color:#999999;
}
.apm_label_convert{
    width:120px;
    display:block;
    float:left;
    text-align:left;

}
#apm_categ_layer_alert{
    display:none;
    background:#ffffaa;
    color:red;
    border:1px solid #aaaaaa;
    padding:8px 8px;
    margin: 5px 5px;
}
#apm_categ_layer{
    background:#dddddd;
    display:none;
    border:1px solid #555555;
    position:absolute;
    top:200px;
    left:200px;
    width:400px;
    height:340px;
    padding: 5px 5px;
}
#apm_categ_layer label{
    display:block;
    float:left;
    text-align:left;
    width:100px;
}
.apm_required{
    color:red;
}
input.apm_is_required{
    color:#880000;
}
.apm_invalid{
    border:1px solid red;
}
.apm_widget_criteria{
    padding: 0 10px 0 10px;
}
.apm_widget_subfields{
    padding: 0 0 0 10px;
}
#apm_categ_layer_sending, #minor-publishing-actions, #visibility,#edit-slug-box,.misc-pub-section-last{
    display:none
}

#authordiv{
    display:none
}
#message a{
    display:none
}
.apm_table_title{
    font-weight:bold;
    font-size:13px;4
    color:#444444;
    padding: 2px 10px 2px 4px;
}
.apm_table_top{
    background:#cccccc;
    padding: 5px 2px;
    margin:0 0;
}
.apm_intro_note{
    font-weight:bold;
    color:#555555;
    text-decoration:underline;
    padding: 7px 0 3px 0;
}
.apm_user_listed{
    border:1px solid #bbbbbb;
    padding: 2px 2px;
    display:inline-block;
    margin: 0 2px;

}
.apm_user_listed div{
    width:20px;
    padding: 2px 0 0 4px;
    display:inline-block;
}
.apm_hidden{
    display:none;
}
.apm_comment_small{
    font-size:10px;
    padding: 0 0 10px 0;
}
.apm_comment_del{
    display:block;
    cursor:pointer;
    float:right;
    width:20px;
    height:20px;
    background:url(../../img/delete_16.png) no-repeat top right;
}
.apm_comment{
    padding:5px;
    margin: 3px  0 0 0;
    border-bottom:solid 1px #999999;
}
.apm_comments_zone{
    padding:5px;
    margin: 5px  0;
    border:solid 1px #999999;
    height:400px;
    overflow:auto;
}
.apm_add_comments{
    padding:5px;
    margin: 5px  8px 0 0;
    width:300px;
    float:left;
    border:solid 1px #999999;

}
.apm_categ_block{
    padding:3px 3px;
    height:130px;
    overflow:auto;

}
.apm_categories_list{
    width:45%;
    float:left;
    padding:5px;
    margin: 0 5px 0 0;
    border:solid 1px #999999;
}
.apm_full_width_list{
    width:91%;
    float:left;
    padding:5px;
    margin: 10px 5px 0 0;
    border:solid 1px #999999;
}
.apm_modules_list{
    width:45%;
    float:left;
    padding:5px;
    margin: 0 5px 0 0;
    border:solid 1px #999999;
}
.apm_one_third{
    width:30%;
    float:left;
    padding:5px;
    margin: 0 5px 0 0;
    border:solid 1px #999999;
}
.apm_first_link {
    display:block;
    float:left;
    width: 190px;
    margin: 0 10px 0 0;
    border-right:1px solid #999999;
}

.apm_help_block{
    width:65%;
    float:left;
    padding:5px;
    margin: 0 5px 0 0;
    border:solid 1px #999999;
}
.apm_about_block{
    width:30%;
    float:left;
    padding:5px;
    margin: 0 5px 0 0;
    border:solid 1px #999999;
}
/*
 *
*/
label{
    font-weight:bold;
    color:#444444;
    padding: 0 2px 0 0;
    text-align:right;
}
.apm-editor{
}
.apm_legend {
    font-size:9px;
    color:#777777;
    font-style:italic;
}
.apm_legend_help {
    font-size:10px;
    background:#FFFF99;
    color:#555555;
    font-style:italic;
    display:none;
    position:absolute;
    top:0;
    left:0;

    border:1px solid #666666;
    padding: 8px 8px;
}

.apm_description_layer_help {
    font-size:11px;
    background:#FFFF99;
    color:#111111;
    display:none;
    position:absolute;
    top:0;
    left:0;

    border:1px solid #666666;
    padding: 8px 8px;
}

.apm_imgfile img {
    border:1px solid #555555;
    cursor:pointer;
}
.fileRemove{
    text-decoration:underline;
    cursor:pointer;
}
.fileAddDescription_btn{
    cursor:pointer;
}
.apm_fileHelpLayer_btn{
    cursor:pointer;
}
.fileAddDescription{
    display:none;
    border:1px solid #bbbbbb;
    padding:2px;
    margin:2px 1px;
    width:190px;
}
.apm_add_upload{
    text-decoration:underline;
    cursor:pointer;
}
.apm_file_block {
    border:1px solid #bbbbbb;
    padding:4px;
    margin:3px 4px;
    width:200px;
    float:left;
}

h3.apm_win_header{

    background:#005599;
    color:#ffffff;
    /*font-family: 'Anton', sans-serif;*/
    font-size:18px;
    font-weight:400;
    padding:4px 0;
    margin: 0 0 0 0;
}

.apm_imgfile_zoom  {
    border:1px solid #555555;
    cursor:pointer;
    text-align:center;
    position:absolute;
    top:50px;
    left:50px;
    width:600px;
    height:600px;
    padding:0;
    background:#CCCCCC;
    z-index: 200;
}
.apm_limit_width_thumb_block{
    display:block;
    width:200px;
    height:14px;
    overflow:hidden;
}
.apm_imgfile_zoom  div {
    padding:5px;
}

.apm_help_btn{
    padding:6px 5px 0 3px;
    cursor:pointer;
}

ul.apm_li_inline  {
    border-bottom:1px solid #eedddd;
    padding:3px 4px;
    margin: 1px 0 0 0;
}
ul.apm_li_inline_last {
    padding:3px 4px;
    margin: 1px 0 0 0;
}

ul.apm_li_inline li {
    display:inline;
    margin: 3px 4px 3px 0;
}

ul.apm_li_inline_last li {
    display:inline;
    margin: 3px 4px 3px 0;
}

.clear{
    width:1px; height:1%; line-height:1%; clear: both;
}
.apm_fieldset{
    border:1px solid #dddddd;
    padding:4px 4px;
    margin: 2px 0 0 0;
}


.apm_multi_fields {
    border:1px solid #dddddd;
    padding:4px 4px;
    margin: 0 0;

}

#apm_searchBlock{
    padding: 0 6px;

}
#apm_searchBlock_fields{
    border:1px #bbbbbb solid;
    padding: 6px 6px;
    display:none;
    margin: 4px 0 4px 0;

}

.apm_widget_list_title{
    font-size:13px;
    font-weight:bold;
}
.apm_widget_top_title{
    color:#005599;
    background:#ddd;
    padding: 3px 2px;
    font-size:14px;
    border-bottom:1px solid #bbb;
}

.apm_widget_top_title span {
    text-align:right;
    float:right;
}
/*TABS
 * */

/*.h{
        font: 1.500em Fontin, Georgia, "Times New Roman", Times, serif;
        padding: 13px 0 10px 5px;
        color:#666;
        font-size: 13px;
        border-bottom:1px solid #eee;
        text-transform:uppercase;
        letter-spacing:1px;
}*/

.block {
    clear:both;
}
.block .htabs{
    padding: 0 0;
    overflow:hidden;
    margin:-15px 0 -15px 0;
}

.block .htabs h2 a{
    font-size:17px;
    /*font-family: 'Anton', sans-serif;
    font-variant:small-caps;
    font-weight: 400;*/
    text-decoration:none;
    margin:0 2px 0 0;
    padding: 4px 6px;
    background:#ffffff;
    border:1px solid #cccccc;
    color:#555555;
}
.block .htabs h2 a:hover{
    color:#005599;
    /*font-family: 'Anton', sans-serif;
    font-weight: 400;*/
    text-decoration:none;
    margin:0 2px 0 0;
    padding: 4px 6px;
    background:#cccccc;
}

.block .htabs h2 a.select{
    color: #005599;
}
.block .htabs h2 {
    margin:0 0 0 0;
    padding: 0 0;
}
.block .htabs li{
    float:left;
    margin:0 0;
    padding: 0 0;
    overflow:hidden;
}


.tabs{
    margin:0 0;
    padding: 0 3px;
    border:1px solid #cccccc;
    overflow:hidden;
}
/*
.apm_autocomplete_hold{
        cursor:text;
}
.apm_autocomplete_hold span{
         display:block; margin:0 3px 3px 0; padding:3px 20px 4px 8px;
    position:relative; float:left; background-color:#eee;
    border:1px solid #333; -moz-border-radius:7px;
    -webkit-border-radius:7px; border-radius:7px; color:#333;
    font:normal 11px Verdana, Sans-serif;
}

.apm_autocomplete_hold  span a {
    position:absolute; right:8px; top:2px; color:#666;
    font:bold 12px Verdana, Sans-serif; text-decoration:none;
}
.apm_autocomplete_hold  span a:hover { color:#ff0000; }

.ui-menu .ui-menu-item { white-space:nowrap; padding:0 10px 0 0; }


.autocomplete_field{
    position:relative; top:0; float:left; border:none;
}
*/
/*
h2 {
        color:#005599;
        font-family: 'Anton', sans-serif;
        font-weight: 400;
        font-variant:small-caps;
        font-size:19px;
}

h2 a {
        color:#005599;
        font-family: 'Anton', sans-serif;
        font-weight: 400;
        font-variant:small-caps;
        font-size:19px;
}
h3 span{
        color:#005599;
        font-family: 'Anton', sans-serif;
        font-weight: 400;
        font-variant:small-caps;
        font-size:19px;
}

h3 {
        color:#005599;
        font-family: 'Anton', sans-serif;
        font-weight: 400;
        font-variant:small-caps;
        font-size:19px;
}

h4 a{
        color:#005599;
        font-family: 'Anton', sans-serif;
        font-weight: 400;
        font-variant:small-caps;
        font-size:16px;
}
li.tabs{
        color:#005599;
        font-family: 'Anton', sans-serif;
        font-weight: 400;
        font-variant:small-caps;
        font-size:16px;
}
*/
/*
a.wp-has-submenu{

        color:#005599;
        font-family: 'Anton', sans-serif;
        font-weight:normal;
        font-size:15px;
}
.wp-has-current-submenu{

}*/



.autocomplete-w1 { background:url(../../img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

.autocomplete-loading { background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat; }


/***OCT2012*/
.ajax_input{
    width:40px;
}

/* edit buy huypham--09-05-2013 */
.note-required-italic{
    font-style: italic;
}

/*NEW APP HOME */
.btnmargin{
    margin:3px 2px;
}
.btnmargin a:hover{
    color:white;
    text-decoration: none;
}
.btnbackdark{
    background: blue!important;
}
.apm_settings_note{
    font-style: italic;
    padding: 0 0 3px 0;
    margin: 0 0;
    font-size: 11px;
}
.settingform li{
    margin: 0 0;
    padding: 10px 0 4px 0;
    border-bottom:1px #ddd solid;
}
.settingtabcontent{
    padding: 9px 9px;
    margin: 0 0 10px 0;
    border:1px #ddd solid;
    background: white!important;
}
.settingtabcontent h5{
    padding:0 0 5px 0;
    margin: 0 0;
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;
}

h4{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;
}
h5.option_section {
    border-bottom:1px #ddd solid!important;
    padding:2px 0 5px 0!important;
    margin: 0 0 8px 0!important;
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}
#portal_tabs, #portal_tabs .htabs{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}
.apm_grid_az_header{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}
.apm_sidebar_block{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}
/*
.apm_table_tbody{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 400!important;
}*/
#poststuff{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}
#post-body{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}

#post-body label,#post-body input,#post-body select,#post-body option{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}

h2, .wrap h2{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}
h3, h3.hndle, h3.hndle span{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}

h4{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}
.nav-tabs{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}
.navbar{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}
.btn{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}
h6{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700!important;
}
.settingtabcontent ul{
    padding: 6px 6px;
    border:1px #ddd solid;
    background: #eee!important;
}
.wellmedpadd{
    padding: 8px 8px!important;
}
.wrpapm h4 {
    margin: 3px 0!important;
}
.apm_settinglist{
    margin: 0 0 10px 0;
}
.neveragain{
    float:right;
    font-size: 11px;
    color:#999;
    cursor: pointer;
    margin: 0 0 0 20px;
}

.neveragain:hover{
    color:#000;

}
.apm_homebtnlist {
    width:130px;
    display:block;
    float:left;
    margin:5px 5px;
}
.apm_homebtnlist a:hover{
    color:#2a4460;
}
.apm_homecategul li{
    float:left;
}
.apmnavli{
    margin-bottom: 0!important;
}

.apmnavli a{
    padding:10px 7px!important;
}
li.apmnavli.active > .dropdown-toggle{

    margin-bottom: 0!important;
}
.navbar-inner{
    padding-left:8px!important;
}
.apm_navbarbrand{
    font-size: 13px!important;
    font-weight: bold!important;
    padding-right:3px!important;
    margin-right: 3px!important;
}
.apm_submenu a {
    padding-right:10px!important;
    background-position-x: -10px;
}
.apmsubdropmenu{
    margin:0 0 0 1px!important;
}
.topmodultitle{
    font-variant:small-caps;
    font-size: 17px;
    display:block;
    float:left;
    padding: 8px 0 0 0;
}
.topbtnmoveup{
    margin:-3px 0 0 0!important;
}
.topbtnmoveup1{
    margin:-1px 0 0 0!important;
}
.apm_sortby{
    width:80px;
    margin:3px 0 0 0;
}
.apm_pagin_header_zone span{
    font-size:10px;
    padding:1px 1px!important;
    margin:0 0!important;
}
.apm_datagrid_wrapper input {
    margin:2px 0 0 !important;
    height:21px!important;
    padding:1px 1px!important;
    font-size: 12px!important;

}
.apm_pagin_header_zone input {
    height:16px!important;
    padding:1px 1px!important;
    font-size: 12px!important;

}
.content_advanced_search_fields input,.content_advanced_search_fields select{
    width:90px!important;
    font-size:11px;
}
/*RESET SOME BOOTSTRAP STYLES */
.navbar{
    margin-bottom:3px!important;
}
.navbar-inner{
    max-height:40px;
}

.wellads{
    margin:6px 6px;
    color:#fff;
    padding:6px 6px!important;
    background:#555;
    font-size:11px;
    border: 1px solid 222;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.wellads a{
    color:#00aaaa;
}

/*OVERWRITE BOOTSTRAP*/
.tooltip-inner {
    max-width: 300px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight:bold!important;
}
.dash_appdashlink{
    background:#fff;
    border-bottom:1px solid #5A83BC;
    padding: 4px 4px;
}

h4.dash_appdashtitle{
    border-bottom:1px solid #ccc;
    padding: 11px 4px 3px 4px !important;
    font-family: 'Open Sans Condensed', sans-serif!important;
    font-size:14px;
    font-weight: 700;
}
.dash_latest_list{
    height:230px;
    overflow:auto;

}
.dash_latest_list li{
    border-bottom:1px solid #ddd;
}
.ori_latest_main{
    font-size:15px;
}
.ori_dash_listmod{
    font-size:14px;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.tooltip {
    z-index: 2030!important;
}
.ori_dash_2col{
    width:46%;
    padding: 0 2%;
    float:left;
}
h3.popover-title{
    font-family: 'Open Sans Condensed', sans-serif!important;
    font-weight: 700;
}
.popover-content{
    color:#444!important;
}
.margin-left-10{
    margin-left:10px;
}
.margin-right-10{
    margin-right:8px;
}
.margin-left-5{
    margin-left:5px;
}
.margin-right-5{
    margin-right:5px;
}
.orifloatleft{
    float:left;
}
.floatleft{
    float:left;
}
.floatright{
    float:right;
}
.ori_nav_separ{
    width:8px;
    display:block;
    float:right;
    border-right:1px #999 solid;
    margin:7px 8px 0 0;
}
.move-up-5{
    margin:0 0 0 0;
}
/*
.apm_nav {
    margin-bottom: 20px!important;
    margin-left: 0px!important;
}

.apm_nav li{
    float:left!important;
    line-height: 20px!important;
}
.apm_nav li a{
    line-height: 20px!important;
}*/

/* add css by huypham */
.cursor-pointer{
    cursor:pointer;
}
.highlightpronotpro{
    padding:7px 5px;
    margin:4px 0;
    background: #555;
    color:#fff;
    font-size:15px;
}

/**WDIGETS VIEWS*/
.dash_latest_list li {
    border:none;
    float: left;
    width: 100%;
    margin:0;
}
.dash_latest_list li hr{
    margin:10px 0;
}
.dash_latest_list li img{
    float:left;
}
.dash_latest_list li .col1{
    float:left;
    width:132px;
}
.dash_latest_list li .col2{
    float:left;
    width:110px;
    margin-left:7px;
}
.dash_latest_list li .col3{
    float:left;
    width:75px;
    margin-left: 10px;
}
.dash_appdashlist_taxdiv{
    margin:0 0 ;
    padding: 0 0!important;
    border-bottom:1px solid #ccc;
}
.dash_appdashtitle_tax{
    height:25px;
    margin:0 0 3px 0;
    font-family: 'Open Sans Condensed', sans-serif!important;
    font-size:14px;
    font-weight: 700;
    border-bottom:1px solid #bbb;
}
.dash_appdashtitle_tax span{
    padding: 1px 3px!important;
    margin:0 0 ;
}
.tax_addtip{
    display:block;
    width:100%;
    margin: 3px 0 0 0;
    border-top:1px solid #bbb;
    padding: 3px 2px 3px 2px!important;
}
.dash_appdashlist_tax{
    padding: 3px 2px 3px 2px!important;
    min-height:18px!important;
    margin:0 0 ;
    font-family: 'Open Sans Condensed', sans-serif!important;
    font-size:13px;
    font-weight: bold;
}
.dash_appdashcalc_tax{
    text-align: right;
    padding: 4px 2px 4px 2px!important;
    margin:0 0 ;
    font-family: 'Open Sans Condensed', sans-serif!important;
    font-size:13px;
    font-weight: bold;
}
.dash_appdashcontent{
    margin:0 1px ;
    height:200px;
    overflow:auto;
}
.dash_right{
    text-align: right;
}
.dash_left{
    text-align: left;
}