<!--
setInBodyCategoryWinAddForm.html.
my_extensions_views['setInBodyCategoryWinAddForm'].tpl
-->
 <fieldset>
    <p><label class="add_modal_label ">Category Name*</label>
    <input type="text" class="addcateg_name" placeholder="[[label]] name...">
    <input type="hidden"  class="tagcateg" value="[[categname]]">
    <input type="hidden"  class="apm_fieldsource" value="[[apm_field]]"></p>
    <p><label>Parent Category</label>
    <select>
    </select></p>
   <p> <label>Category Description</label>
    <textarea rows="3"></textarea></p>
	<p><lable class="note-required-italic">* = required</lable></p>
</fieldset>
<a href="javascript:void(0);" class="apm_small_link apm_do_reset_categ" category="[[categname]]" >Reset Category content</a>
   