/* 
    sendNewsletter.css
*/
.mailinglistsendingtable{
    height:400px;
    overflow:auto;
    
}
.statusrow_tosend{
    color:blue;
}
.statusrow_sending{
    color:black;
}
.statusrow_sent{
    color:green;
}
.statusrow_issue{
    color:red;
}
.result_ok{
    font-size:17px;
    color:green;
    padding:10px 10px;
    background:#b3d38d;
}
.mailinglistsendingtable input[type="checkbox"]{
	height:auto !important;
	margin-top: 0;
}