<!-- setModuleGridRightPan.html
-->
<div id='rightpanbtn'>
    <ul style='float:left;' >
        <li>{{cog}}</li>
        <li>{{mass_send}}</li>
        <li>{{mass_update}}</li>
        <li>{{groupby}}</li>
    </ul>
</div>
<div id='rightpancont'>
    <div id='rightpanhead'>
        <h5 class='title'>
            <span class='titsp'></span>
            <span class='pull-right up10'>
                <a data-original-title="{{collapsepan}}" data-placement="left" rel="tooltip" class=" btn-micro btn-microgrey  hasTooltip doCollapseRightpan">
                    <i class="icon-chevron-right "></i></a>
            </span>
        </h5>

    </div>
    <div id='rightpancontwrap'>
        {{contmass}}
        {{contsnd}}
        {{contclns}}
        {{contquick}}
    </div>
</div>



