/* 
    Document   : setTeamField.css
    Created on : 12 mars 2013, 19:20:46
    Author     : HP
    Description:
        Purpose of the stylesheet follows.
*/
.apm_team_user_list{
    
}
.apm_del_user_team{
    cursor:pointer;
}
.team_detail{
    border:1px solid #ddd;
    padding: 2px 4px;
}
.team_detail .label{
    font-weight:normal;
    margin:2px 2px 1px 1px;
}
.team_block{
    border:1px solid #bbb;
    padding: 2px 4px;
    background:#fff!important;
}
.team_block p{
    margin:0 0;
    padding: 0 0;
}
.team_block label{
    display:block;
    float:left;
    margin:0 0;
    padding:18px 0  0 0;
    font-weight: normal;
}
.team_col2{
    display:block;
    float:left;
    width:100px;
}
.team_inp2{
    width:130px;
    float:left;
}
.team_subtitle{
    font-weight:400;
    font-size:14px;
    color:555;
}

