<!-- setMailAttachment.html
-->
<div class="controls">
    <div class="row-fluid apm-addattachtop">
        <div  class="span12">
            <span data-placement="right" data-original-title="Send this email" class="action_button hasTooltip btn  margin-right-10  btn-small btn-success " rel="tooltip" data-fields="null" data-post_type="ff_email_inoutbox" data-post_id="34" data-fieldname="mailboxsend_email" data-appname="15MAIL">
                <i class="icon-envelope  icon-white"></i> Send
            </span>
            <a  data-placement="right" rel='tooltip' title="Click to expand the Attachment field" class="btn btn-small  open_attachblock  hasTooltip">
                Add attachment <i class="icon-chevron-down"></i>
            </a>

            <span data-original-title="On click we will append your Email Signature at the end of this email. You can set your email signature in Email Account Settings." rel="tooltip" class="hasTooltip btn btn-small margin-left-10 btn-add-signature">
                <i class="icon-user"></i> Add signature
            </span>
            <span data-placemenet='right' data-original-title="Reset and clear all, the Destinees, attachments subject and content" rel="tooltip" class="hasTooltip btn btn-warning btn-small margin-left-10 btn-reset-compose">
                <i class="icon-remove-sign  icon-white"></i> Reset all
            </span>
         </div >
    </div>
    <div class="row-fluid">
        <div  class="span12  apm_groupblocks2cols">
            <div class="row-fluid ">
				<div class="place_uploadfile apm_uploadhidden"></div>
				<div class="place_apm_addfiles apm_uploadhidden"></div>
                <div  class="span6  well apm_wellcol">
                    <label class="control-label   lbl_f" >Select a file to upload from your computer folders:</label>
                    <div class="apm_fileattach_pick">
                        <a  data-placement="right" rel='tooltip' title="Browse to pick a file on your desktop" class="btn btn-mini btn-success   hasTooltip btn_pickuploadfma"><i class="icon-plus icon-white"></i> Pick a file</a>
                    </div>
                    <label class="control-label    lbl_f" >OR Drag&Drop a file below:</label>

                    <div  id="filedrag"  class="span12 apm_file_dragdropzone">
                        DRAG & DROP zone
                    </div>


                </div >
                <div  class="span6  well apm_wellcol">
                    <div   class="span12">
                        <label class="control-label   lbl_float lbl_f" for="mail_compose_usetpl">Files selected</label>
                    </div>
                    <div    class="span12">
                        <ul class="place_uploadfile_name">

                        </ul>
                    </div>
                </div >
            </div>
        </div >
    </div>