/*
    setGlobalFieldsItems.css
*/
.btn-micro{
    padding: 0px 3px!important;
    font-size: 10px!important;
    margin-left:2px;
    border-radius: 4px 4px!important;
    border: 1px solid #999!important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset!important;
    display: inline-block!important;
    margin-top:3px!important;
    line-height: 17px!important;
    color: rgb(85, 85, 85);
    cursor: pointer;
    height: 19px!important;
}

.btn-microblue{
    background-color: #49afcd!important;
    background: -prefix-linear-gradient(top, #85c9dd, #49afcc);
    background: linear-gradient(to bottom, #85c9dd, #49afcc);
}
.btn-microgrey{
    background-color: #eee!important;
    background: -prefix-linear-gradient(top, #fff, #ccc)!important;
    background: linear-gradient(to bottom, #fff, #ccc)!important;
}
.btn-microblue:hover{
    background: #333!important;
}
.btn-microgrey:hover{
    background: #fff!important;
}
.apm_input_in_nav{
    margin:4px 3px 0 0!important;
}
.apm_rowtxt_small{
    font-size:11px;
}
.files_grid_label{
    display:block;
    float:left;
    margin: 4px 0 0 0;
    padding: 4px 3px 0 0;

}
input.ori_inputAutosuggwithbtn{
    font-size: 13px!important;
    background-color: rgb(255, 255, 255)!important;
    border: 1px solid rgb(204, 204, 204)!important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset!important;
    display: inline-block!important;
    padding: 0 6px!important;
    margin-top:3px!important;
    line-height: 20px!important;
    color: rgb(85, 85, 85);
    vertical-align: middle!important;
    border-radius: 4px 4px 4px 4px!important;
    height: 16px!important;
}
.apm_ext_titles{font-weight:bold!important; font-size:14px!important; color:#7ab5d3}
/*** AUTOCOMPLETE***/
.go_right{
    float:right;
}
.apm_autocomplete_load{

}
.hiddenbtn{
    display:none!important
}
.apm_autocomplete_list{
    border:1px solid #999;
    position:absolute;
    top:0;
    left:0;
    background: white;
    font-size:12px;
    padding:0 0;
    margin:0 0;
    overflow:auto;
}
.apm_autocomplete_list ul {
    overflow:hidden;
}
.apm_autocomplete_list ul li{
    overflow:hidden;
    border-bottom:1px solid #ccc;
    padding:3px 3px 0 3px;
    margin:0 0;
    height:22px;
    background:#fff;
}
.apm_autocomplete_list ul li:hover{
    background:#7ab5d3;
}
.apm_autocomplete_container{
}

/* 
    sendNewsletter.css
*/
.mailinglistsendingtable{
    height:400px;
    overflow:auto;
    
}
.statusrow_tosend{
    color:blue;
}
.statusrow_sending{
    color:black;
}
.statusrow_sent{
    color:green;
}
.statusrow_issue{
    color:red;
}
.result_ok{
    font-size:17px;
    color:green;
    padding:10px 10px;
    background:#b3d38d;
}
.mailinglistsendingtable input[type="checkbox"]{
	height:auto !important;
	margin-top: 0;
}/*
    setAddRelated.css
*/
.btn-group ul.dropdown-menu-addrel{
    width:180px!important;
    margin:0 0!important;
    padding:3px 3px!important;
}
ul.dropdown-menu-addrel li{
    width:170px!important;
    font-size: 12px!important;
    margin:1px 3px!important;
    padding:3px 3px;
	float: left;
}/*
    setDevTpl.css
*//*
    setForcePrivacy.css
*//* 
    Document   : setInBodyCategorySelect.css
    Created on : 16 mars 2013, 22:01:25
    Author     : HP
    Description:
        Purpose of the stylesheet follows.
*/

.categ_sel_block { 
    height:30px; border:1px solid #333;
}

/*
    setMailAttachment.css
*/
.apm_groupblocks2cols{
    background: #fff ;
    border:1px #ccc solid;
    padding:3px 3px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.apm_file_dragdropzone{
    background: #ccc ;
    border:1px #aaa solid;
    padding:25px 15px;
    margin:4px 0 0 0!important;

}
.apm_fileattach_pick{
    padding: 4px 0 12px 0;
    float:none;
}
.apm_wellcol{
    margin:2px 2px!important;
}
.apm_uploadhidden{
	display:none;
}
.apm_file_dragdropzone.hover{
	color: #f00;
	border-color: #f00;
	box-shadow: inset 0 3px 4px #888;
}

#progress {float: left;}
#progress p{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("images/progress.png") 100% 0 repeat-y;
}

#progress p.success{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed{
	background: #c00 none 0 0 no-repeat;
}/* 
    setMailingList.css
*/
/*
    setSelectMailTpl.css
*//* 
    Document   : setTeamField.css
    Created on : 12 mars 2013, 19:20:46
    Author     : HP
    Description:
        Purpose of the stylesheet follows.
*/
.apm_team_user_list{
    
}
.apm_del_user_team{
    cursor:pointer;
}
.team_detail{
    border:1px solid #ddd;
    padding: 2px 4px;
}
.team_detail .label{
    font-weight:normal;
    margin:2px 2px 1px 1px;
}
.team_block{
    border:1px solid #bbb;
    padding: 2px 4px;
    background:#fff!important;
}
.team_block p{
    margin:0 0;
    padding: 0 0;
}
.team_block label{
    display:block;
    float:left;
    margin:0 0;
    padding:18px 0  0 0;
    font-weight: normal;
}
.team_col2{
    display:block;
    float:left;
    width:100px;
}
.team_inp2{
    width:130px;
    float:left;
}
.team_subtitle{
    font-weight:400;
    font-size:14px;
    color:555;
}

/* 
    setUploadAndGrid.css
*//* 
    setUploadGrid.css
*/
.filegrid{
    margin: 0 5px 0 0;
}
.apm_edit_form_modal input{
    width:270px; font-size:12px!important;
    
}
#myModalGlobalWin label{
    color:#555!important;
    display:inline!important;
    margin: 0 5px 0 0;
/*    width:auto!important;*/
    
}
.apm_edit_form_modal .area_medbig{
    width:270px!important; font-size:11px; height:175px;
    
}
.apm_edit_form_modal .area_medium{
    width:270px!important; font-size:11px; height:70px;
    
}
.apm_filegrid_row_thumb{
    width:60px;
    margin:0 8px 0 0;
    border:1px #777 solid;
    padding: 1px 1px;
}
.apm_filegrid_row_thumbdiv{
    width:70px;
    float:left;
    cursor:pointer;
}
.filegridnbfieldhead{
    font-size:12px;
    color:#333;
    font-weight:normal;
}
.apm_inputfileinfos{
    background:#eee;
    border:2px solid #fff;
    padding:5px;
}
.correct_chk{
    display:block;
    float:right;
    margin:-8px 0 0 3px;
}
.actions_grid{
    display:block;
    float:right;
    margin: 0 3px 0 0;
}
.files_grid_actions{
    display:block;
    float:right;
    margin: 0 3px 0 0;
    
}
.files_grid_label{
    font-size:13px;
    display:block;
    font-weight: normal;
    float:left;
    margin: 4px 0 0 0;
    padding: 4px 3px 0 0;
    
}
/* 
    setUploadPanel.css
*/
.inputs_holder{
    position:relative;
    overflow:hidden;
    height: 0px;
}
.apm_addfiles{
    background:#eee!important;
}
.filegrid{
   background:#fefefe!important;
}
.apm_uploadhidden{
    width: 0;
    height: 0;
    position:absolute;
    left:300px;
}
.apm_uploadf{
    border:1px solid red!important;
}
.apm_inputfileinfos{
    background:#eee;
    border:2px solid #fff;
    padding:5px;
}
.correct_chk{
    display:block;
    float:right;
    margin:-8px 0 0 3px;
}
.actions_grid{
    display:block;
    float:right;
    margin: 0 3px 0 0;
}
.files_grid_actions{
    display:block;
    float:right;
    margin: 0 3px 0 0;
    
}
/*
    setAlertPanel.css
*/
.AlertPanel{
    position:absolute;
    top:-300px;
    right:100px;
    width:300px;
    background: #fff;
    border:solid 1px #ddd;
    z-index: 5000;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.Alertwarning{
    background:#faa732!important;
    color:#fff!important;
}
.Alerterror{
    background:#ff4b33!important;
    color:#fff!important;
}
.Alertok{
    background:#2e8a19!important;
    color:#fff!important;
}
.Alertdefault{
    background:#fff!important;
    color:#000!important;
}
.AlertPanelTitle{
    padding: 8px 8px;
    font-size:16px;
    color:#fff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    background: linear-gradient(bottom, #999, #777);
    background: -prefix-linear-gradient(top, #999, #777);
    background: -webkit-linear-gradient(bottom, #999, #777);
    background: -moz-linear-gradient(bottom, #999, #777);
    background: -ms-linear-gradient(bottom, #999, #777);
    background: -o-linear-gradient(bottom, #999, #777);
    border-bottom:1px solid #ddd;
}
.AlertPanelTxt{
    padding: 8px 8px;
    font-size:14px!important;
}
.doCloseAlert{
    cursor: pointer;
}/*
    setModuleGrid.css
*/
#wpfooter{
    display:none;
}
#apmdatagrid_new_container{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;
    width:100%;
    position:relative;
    height:100%;
    overflow:hidden;
    padding:0 20px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}

#apmdatagrid_new_container select, #apmdatagrid_new_container input{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;
}
#apmdatagrid_new_container h5.title{
    margin:0 0;
    padding: 5px 7px;
    color:#fff;
    background:#bbb;
    border-bottom: 1px solid #999;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background: -prefix-linear-gradient(top, #999, #555);
    background: linear-gradient(to bottom, #999, #555);
}

#apmdatagrid_new_centercol{
    width:100%;
    padding:0 0;
}
#apmdatagrid_new_header{
    width:70%;
    background:#fff;
    padding:0 0 0 183px;
    margin:0 30px 0 0;
}

#apmdatagrid_new_gridhead{
    width:100%;
    margin:0 0 0 0;
    padding:0 0 0 180px;
}

#apmdatagrid_new_gridhead table{
    margin:0 0!important;
    background: #eee;
    color:#444;
}
#apmdatagrid_new_gridbody{
    width:100%;
    overflow:auto;
    padding:0 0 0 180px;
}
#apmdatagrid_new_gridfooter{
    width:100%;
    background:#fff;
    padding:0 0 0 183px;
}
#apmdatagrid_new_leftpan{
    width:200px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:#dedede;
    border-bottom: 1px solid #555;
    z-index:90;

    -webkit-box-shadow:  3px 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 0  3px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0  3px rgba(0, 0, 0, 0.2);
}

#apmdatagrid_new_leftpan a:hover{
    color:#000;
    text-decoration:none;
}
#apmdatagrid_new_rightpan{
    width:800px;
    height:100%;
    position:absolute;
    top:0;
    right:-780px;
    background:#ccc;
    z-index:89;
    -webkit-box-shadow:  -2px 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -2px 0  3px rgba(0, 0, 0, 0.3);
    box-shadow: -2px 0  3px rgba(0, 0, 0, 0.3);
}

#apmdatagrid_new_statusfooter{
    width:100%;
    border-top:1px #aaa solid;
    position:absolute;
    bottom:0;
    height:22px;
    left:0;
    font-size:11px;
    background:#ccc;
    z-index:100;
}

.btnredupad{
    padding:0 2px!important;
    margin-top:-1px!important;
}

.apm_filter_float li{
    float:left;
    padding: 0 3px!important;
    height:20px!important;
    margin:1px 1px;
}
.apm_filter_float{
    margin:4px 4px!important;
}
.accordion{
    margin-top:5px!important;
    padding:2px 2px!important;
}
.apm-acc-top{
    padding:4px 6px!important;
    border:1px solid #bbb!important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: -prefix-linear-gradient(top, #eee,#bcbcbc);
    background: linear-gradient(to bottom, #eee,#bcbcbc);
}
.accordion-inner{
    background: #efefef!important;
    padding:4px 4px!important;
    margin:0 0 4px 0!important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.popover-content{
    color:#fff!important;
}
.alert{
    padding:4px 30px 4px 8px !important;
    font-size:12px!important;
}

.navbar-innermaingrid{
    max-height: 33px!important;
    min-height: 33px!important;

}
.navbar-innermaingrid select{
    width:80px;
    font-size:11px!important;
    height:23px!important;
	line-height:18px;
}
#apmdatagrid_new_leftpan .ori_advsearform select{
	line-height:18px;
}/*
    setModuleGridBody.css
*/
#TabModuleGridBody{
    width:100%;
}


#apmdatagrid_new_gridbody table{
    margin:0 0!important;
}
.margless160{
    margin-top:-160px!important;
}
#apmdatagrid_new_container table tr{
    padding:0 0!important;
    margin:0 0!important;
}
#apmdatagrid_new_container table td{
    padding:0px 3px !important;
    margin:0 0!important;
}
#apmdatagrid_new_container table th{
    padding:2px 3px !important;
    margin:0 0!important;
}
.subrow_lone{
    display:block;
    float:left;
    padding:3px 0 0 5px;
    width:19px;
}

#apmdatagrid_new_container table .ori_td_cb{
    width:20px;
    padding:0px 3px 0px 8px!important;
}

#TabModuleGridBody td.ori_td_cb{
    width:5%!important;
    padding:0px 3px 0px 8px!important;
}
.ori_td_cb input{
    margin:0 0!important;
}
.ori_td_cb .btn{
    padding:0px 2px!important;
    margin:6px 0 0 0!important;
}
.ori_grid_dropdown li{
    padding: 0 1px!important;
    margin:0 0!important;
}
.ori_grid_dropdown li a{
    padding: 2px 3px!important;
    margin:0 0 0 10px!important;
}
.ori_do_unpublish, .ori_do_publish{
    cursor: pointer;
}
.ori_row_high{
    font-size: 15px;
    font-weight:bold;
    color:#004099;
    cursor: pointer;
}
.ori_row_med{
    font-size: 11px;
    font-weight:bold;
}
/*
    setModuleGridHeader.css
*//*
    setModuleGridLeftPan.css
*/
#apmdatagrid_new_leftpan  .ori_advsearform input, #apmdatagrid_new_leftpan  .ori_advsearform select{
    font-size:12px!important;
    padding:0px 3px!important;
    height:22px!important;
}
#apmdatagrid_new_leftpan  .ori_advsearform select{
    margin:0px 0px!important;

}
#apmdatagrid_new_leftpan  .ori_advsearform input{
    margin:3px 1px 0px 0px!important;

}
#apmdatagrid_new_leftpan .ori_advsearform .btn{
    margin:4px 0px 0px 0px!important;

}
#apmdatagrid_new_leftpan .ori_advsearform li{
    padding:0px 0px 2px 0px!important;
    margin:0px 0px!important;
    border-bottom: 1px solid #ddd;
}
#apmdatagrid_new_leftpan .ori_advsearform label{
    padding:0px 0px !important;
    margin:0px 0px!important;
    display:block;
}
.apm-grid-leftsearch{
    margin:8px 5px 5px 5px;
}

.apm-grid-leftsearch input{
    font-size:12px!important;
    padding:0px 6px!important;
    height:22px!important;
    width:160px!important;
}
#leftpan_filtered ul{
    margin:0 5px!important;
}
#leftpan_sub{
    width:200px;
    padding:0 0!important;
    overflow:hidden;
}
#leftpan_sub_inner{
    padding:0 0!important;
    width:400px;
}
#apm_advancedSearch{
    float:left;
    margin: 10px 5px 0 5px;
    width:185px;
}
#accordion2{
    margin: 0 5px;
    float:left;
    width:185px;
}
#leftpan_filtered{
    color:#666;
    margin:0 8px;
}
.dofiltletter{
    cursor:pointer;
    margin: 0 3px;
}
.dofiltletter:hover{
    color:#006dcc;
}
.dofiltletter.active{
    color:#006dcc;
}
.accordion-innerinOri{
    display:block;
    background: red;
    overflow:visible!important;
    width:105px;
}
.ori_advsearform{
    margin:0 0;
}
.adv_sear_inner{
    overflow: auto;
}/*
    setModuleGridRightPan.css
*/
.ext_new_rightpan ul{
    margin: 3px 0 0 0;
    padding:0 0;
}
.ext_new_rightpan ul li{
    margin: 0 0;
    padding:0 0;
}
.ext_new_rightpan {
    padding-right:2px;
}

#rightpanbtn{
    width:28px;
    float:left;

    height:100%;
}
#rightpancont{
    width:770px;
    float:left;
    background-color: #eee!important;
    background: -prefix-linear-gradient(top, #eee, #ccc)!important;
    background: linear-gradient(to bottom, #eee, #ccc)!important;
    height:100%;

}
#rightpancont input, #rightpancont select{
    font-size:12px!important;
    padding:0px 3px!important;
    margin:4px 0 0 0;
    height:22px!important;
}
#rightpancont .ori_advsearform label{
}
#rightpancont .ori_advsearform .labelcont{
    width:160px!important;
    height:25px;
    display:block;
    float:left;
    overflow:hidden;
}
#rightpancont li{
    padding:0px 0px 2px 0px!important;
    margin:0px 0px!important;
    border-bottom: 1px solid #ddd;
}
#rightpanhead{

}
.up10{
    margin-top:-4px!important;
    display:block;
}
#rightpancontwrap{
    margin:5px 5px;
    border-radius: 4px 4px!important;
    padding: 3px 3px;
    background-color: #fff!important;
    background: -prefix-linear-gradient(top, #fff, #ddd)!important;
    background: linear-gradient(to bottom, #fff, #ddd)!important;
    height:100%;
}
.rightpancont{
    position:absolute;
    right:-605px;
    width:100%;
    height:30%;
}/*
    setModuleGridStatusFooter.css
*/
#gridstatusbar {
    padding:2px 10px;
    font-size:13px;
}
#gridstatusbar .statuslab{
    padding:0 5px 0 0;
    color:#777;
}
#gridstatusbar statustxt{
    padding:0 0 0 5px ;
    color:#555;
}
.ori_load_ok{
    color:green;
}
.ori_loading{
    color:blue;
}
.ori_load_error{
    color:red;

}/*
    setModuleGridTableFooter.css
*/
.pagin-shorttop{
    margin:6px 0 0 0!important;
}
.footertalab{
    margin:4px 0 0 0;
    display:block;
    float:left;
    wdith:100px;
    color:#bbb;
}
.footertalab label{
    color:#444;
    padding: 0 4px;
}/*
    setModuleGridTableHeader.css
*/
.ori_grid_th{
    overflow:hidden; height:20px;display:block;float:left;
}/*
    actionRelatedUser.css
*/
.c_actionRelatedUser .btn-group{
	margin-right: 10px;
	top: 5px;
}

.form_import_user_lead_1 .search_user{
	height: 27px !important;
}
.form_import_user_lead_1 .apm_childtable_dosearch{
	position: relative;
	bottom: 6px;
}
.form_conver input[type="radio"] {
height: auto !important;
margin: 0;
margin-right: 5px;
}
/*
    setCategoryManage.css
*/

.edit_mailcateg{
    cursor: pointer;
}/*
    setModalTips.css
*/
iframe{
    display:block;
    margin: 0 auto;
}/*
    setRelatedUser.css
*/
.highlight_userrelated{
    color:#006505;
	cursor: pointer;
}