<!-- setModuleGridBodyRow.html
-->
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><span class='btn btn-mini btn-success hasTooltip ori_do_unpublish' title='Published. Click to set to Pending'  ><i class='icon-ok  icon-white'></i></span></td>
    <td style='width:40%;'><span class="subrow_lone"><i class='icon-chevron-down'></i></span>
        <span class="ori_row_high">Account Name XXX</span>
        </br><span  class="ori_row_med">CountryXX - CityXXX</span>
    </td>
    <td  style='width:25%;'>column3</td>
    <td>Col4</td>
    <td   style='width:60px; padding-top:5px!important;'>

        <div class="btn-group ">
            <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
                Action
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu  pull-right ori_grid_dropdown">
                <li><a href="#"><i class='icon-ok'></i> UnPublish</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class='icon-pencil'></i> Edit</a></li>
                <li><a href="#"><i class='icon-edit'></i> Quick Edit</a></li>
                <li><a href="#"><i class='icon-remove'></i> Delete</a></li>
                <li><a href="#"><i class='icon-plus-sign'></i> Duplicate</a></li>
                <li><a href="#"><i class='icon-plus'></i> Add Child</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class='icon-eye-open'></i> Quick View</a></li>
                <li><a href="#"><i class='icon-eye-open'></i> View in new window</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class='icon-envelope'></i> Send an email</a></li>
            </ul>
        </div>
    </td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><span class='btn btn-mini btn-info hasTooltip ori_do_publish' title='Pending. Click to set to Published'  ><i class='icon-pause icon-white'></i></span></td>
    <td ><span class="subrow_lone"> </span>column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Published. Click to set to Pending'  class='icon-ok hasTooltip ori_do_unpublish'></i></td>
    <td ><span class="subrow_lone"> </span>column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Pending. Click to set to Published'  class='icon-pause hasTooltip ori_do_publish'></i></td>
    <td ><span class="subrow_lone"> </span><span class="subrow_lone"><i class='icon-chevron-down'></i></span>column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Published. Click to set to Pending'  class='icon-ok hasTooltip ori_do_unpublish'></i></td>
    <td ><span class="subrow_lone"> </span><span class="subrow_lone"> </span>column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Published. Click to set to Pending'  class='icon-ok hasTooltip ori_do_unpublish'></i></td>
    <td ><span class="subrow_lone"><i class='icon-chevron-right'></i></span>column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Published. Click to set to Pending'  class='icon-ok hasTooltip ori_do_unpublish'></i></td>
    <td >column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Published. Click to set to Pending'  class='icon-ok hasTooltip ori_do_unpublish'></i></td>
    <td >column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Published. Click to set to Pending'  class='icon-ok hasTooltip ori_do_unpublish'></i></td>
    <td >column2 fgj fgjgfj fdhjgf kgk gk ggjkgk hl fl hlfhl gjkgk hl fl hlfhl gjkgk hl fl hlfhl kfk fgjkgk hl fl hlfhl hjl</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Published. Click to set to Pending'  class='icon-ok hasTooltip ori_do_unpublish'></i></td>
    <td >column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Published. Click to set to Pending'  class='icon-ok hasTooltip ori_do_unpublish'></i></td>
    <td >column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Published. Click to set to Pending'  class='icon-ok hasTooltip ori_do_unpublish'></i></td>
    <td >column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Published. Click to set to Pending'  class='icon-ok hasTooltip ori_do_unpublish'></i></td>
    <td >column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>
<tr>
    <td class='ori_td_cb'><input type="checkbox"/></td>
    <td class='ori_td_cb'><i title='Published. Click to set to Pending'  class='icon-ok hasTooltip ori_do_unpublish'></i></td>
    <td >column2</td>
    <td>column3</td>
    <td>Col4</td><td>column5</td>
</tr>