<!-- setModuleGridBodyRow.html-->
<tr data-id="{{ID}}" id='row_id_{{ID}}'>
    <td class='ori_td_cb' style='width:20px;'><input class="oriselchk" type="checkbox"/></td>
    <td class='ori_td_cb' style='width:20px;'>
        {{pubunpub}}
    </td>
    {{cols}}

    <td   style='width:60px;padding-top:5px!important;'>
        <div class="btn-group ">
            <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
                Action
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu  pull-right ori_grid_dropdown ">
                {{actpubunpub}}
                <li class="divider"></li>
                <!--li><a href="#"><i class='icon-edit'></i> Quick Edit</a></li-->
                <li class="ori_do_draft"><a href="javascript:void(0);"><i class='icon-stop '></i> Set to Draft</a></li>
                <li class="ori_do_trash"><a href="javascript:void(0);"><i class='icon-trash '></i> Trash (not definitive)</a></li>
                <li class="ori_do_del"><a href="javascript:void(0);"><i class='icon-remove '></i> Delete (definitive)</a></li>
                <!--li><a href="#"><i class='icon-plus-sign'></i> Duplicate</a></li>
                <li><a href="#"><i class='icon-plus'></i> Add Child</a></li-->
                <li class="divider"></li>
                <!--li><a href="#"><i class='icon-eye-open'></i> Quick View</a></li-->
                <li class="ori_do_edit"><a href="javascript:void(0);"><i class='icon-pencil '></i> Edit - Open in current window</a></li>
                <!--li class="ori_do_editnew"><a href="javascript:void(0);"><i class='icon-pencil '></i> Edit - Open in new window</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class='icon-envelope'></i> Send an email</a></li-->
            </ul>
        </div>
    </td>
</tr>