/* 
    setUploadGrid.css
*/
.filegrid{
    margin: 0 5px 0 0;
}
.apm_edit_form_modal input{
    width:270px; font-size:12px!important;
    
}
#myModalGlobalWin label{
    color:#555!important;
    display:inline!important;
    margin: 0 5px 0 0;
/*    width:auto!important;*/
    
}
.apm_edit_form_modal .area_medbig{
    width:270px!important; font-size:11px; height:175px;
    
}
.apm_edit_form_modal .area_medium{
    width:270px!important; font-size:11px; height:70px;
    
}
.apm_filegrid_row_thumb{
    width:60px;
    margin:0 8px 0 0;
    border:1px #777 solid;
    padding: 1px 1px;
}
.apm_filegrid_row_thumbdiv{
    width:70px;
    float:left;
    cursor:pointer;
}
.filegridnbfieldhead{
    font-size:12px;
    color:#333;
    font-weight:normal;
}
.apm_inputfileinfos{
    background:#eee;
    border:2px solid #fff;
    padding:5px;
}
.correct_chk{
    display:block;
    float:right;
    margin:-8px 0 0 3px;
}
.actions_grid{
    display:block;
    float:right;
    margin: 0 3px 0 0;
}
.files_grid_actions{
    display:block;
    float:right;
    margin: 0 3px 0 0;
    
}
.files_grid_label{
    font-size:13px;
    display:block;
    font-weight: normal;
    float:left;
    margin: 4px 0 0 0;
    padding: 4px 3px 0 0;
    
}
