/*
    setModuleGridLeftPan.css
*/
#apmdatagrid_new_leftpan  .ori_advsearform input, #apmdatagrid_new_leftpan  .ori_advsearform select{
    font-size:12px!important;
    padding:0px 3px!important;
    height:22px!important;
}
#apmdatagrid_new_leftpan  .ori_advsearform select{
    margin:0px 0px!important;

}
#apmdatagrid_new_leftpan  .ori_advsearform input{
    margin:3px 1px 0px 0px!important;

}
#apmdatagrid_new_leftpan .ori_advsearform .btn{
    margin:4px 0px 0px 0px!important;

}
#apmdatagrid_new_leftpan .ori_advsearform li{
    padding:0px 0px 2px 0px!important;
    margin:0px 0px!important;
    border-bottom: 1px solid #ddd;
}
#apmdatagrid_new_leftpan .ori_advsearform label{
    padding:0px 0px !important;
    margin:0px 0px!important;
    display:block;
}
.apm-grid-leftsearch{
    margin:8px 5px 5px 5px;
}

.apm-grid-leftsearch input{
    font-size:12px!important;
    padding:0px 6px!important;
    height:22px!important;
    width:160px!important;
}
#leftpan_filtered ul{
    margin:0 5px!important;
}
#leftpan_sub{
    width:200px;
    padding:0 0!important;
    overflow:hidden;
}
#leftpan_sub_inner{
    padding:0 0!important;
    width:400px;
}
#apm_advancedSearch{
    float:left;
    margin: 10px 5px 0 5px;
    width:185px;
}
#accordion2{
    margin: 0 5px;
    float:left;
    width:185px;
}
#leftpan_filtered{
    color:#666;
    margin:0 8px;
}
.dofiltletter{
    cursor:pointer;
    margin: 0 3px;
}
.dofiltletter:hover{
    color:#006dcc;
}
.dofiltletter.active{
    color:#006dcc;
}
.accordion-innerinOri{
    display:block;
    background: red;
    overflow:visible!important;
    width:105px;
}
.ori_advsearform{
    margin:0 0;
}
.adv_sear_inner{
    overflow: auto;
}