/*
    setGlobalFieldsItems.css
*/
.btn-micro{
    padding: 0px 3px!important;
    font-size: 10px!important;
    margin-left:2px;
    border-radius: 4px 4px!important;
    border: 1px solid #999!important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset!important;
    display: inline-block!important;
    margin-top:3px!important;
    line-height: 17px!important;
    color: rgb(85, 85, 85);
    cursor: pointer;
    height: 19px!important;
}

.btn-microblue{
    background-color: #49afcd!important;
    background: -prefix-linear-gradient(top, #85c9dd, #49afcc);
    background: linear-gradient(to bottom, #85c9dd, #49afcc);
}
.btn-microgrey{
    background-color: #eee!important;
    background: -prefix-linear-gradient(top, #fff, #ccc)!important;
    background: linear-gradient(to bottom, #fff, #ccc)!important;
}
.btn-microblue:hover{
    background: #333!important;
}
.btn-microgrey:hover{
    background: #fff!important;
}
.apm_input_in_nav{
    margin:4px 3px 0 0!important;
}
.apm_rowtxt_small{
    font-size:11px;
}
.files_grid_label{
    display:block;
    float:left;
    margin: 4px 0 0 0;
    padding: 4px 3px 0 0;

}
input.ori_inputAutosuggwithbtn{
    font-size: 13px!important;
    background-color: rgb(255, 255, 255)!important;
    border: 1px solid rgb(204, 204, 204)!important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset!important;
    display: inline-block!important;
    padding: 0 6px!important;
    margin-top:3px!important;
    line-height: 20px!important;
    color: rgb(85, 85, 85);
    vertical-align: middle!important;
    border-radius: 4px 4px 4px 4px!important;
    height: 16px!important;
}
.apm_ext_titles{font-weight:bold!important; font-size:14px!important; color:#7ab5d3}
/*** AUTOCOMPLETE***/
.go_right{
    float:right;
}
.apm_autocomplete_load{

}
.hiddenbtn{
    display:none!important
}
.apm_autocomplete_list{
    border:1px solid #999;
    position:absolute;
    top:0;
    left:0;
    background: white;
    font-size:12px;
    padding:0 0;
    margin:0 0;
    overflow:auto;
}
.apm_autocomplete_list ul {
    overflow:hidden;
}
.apm_autocomplete_list ul li{
    overflow:hidden;
    border-bottom:1px solid #ccc;
    padding:3px 3px 0 3px;
    margin:0 0;
    height:22px;
    background:#fff;
}
.apm_autocomplete_list ul li:hover{
    background:#7ab5d3;
}
.apm_autocomplete_container{
}

