<!--
setModalViewFileForm.html.
my_extensions_views['setModalViewFileForm'].tpl
-->
<div style="width:200px; padding: 5px 5px; float:left; border-right:1px solid #aaa; margin: 0 10px;">
    
    <ul>
        <li><img src="[[thumbimg]]" width="150"/></li>
        <li><label>File name:</label> [[post_name]] </li>
        <li><label>File url:</label> [[guid]] </li>
        <li><label>File type:</label> [[post_mime_type]] </li>
        <li><label>File size:</label> [[size]] </li>
        <li><label>Uploaded on:</label> [[post_date]] </li>
    </ul>
</div>
<div>
    <ul>
        <li><label>File title:</label> [[post_title]]  <br/></li>
        <li><label>Caption:</label> [[post_excerpt]] <br/></li>
        <li><label>Description:</label> [[post_content]]  <br/></li>
    </ul>
    <a href='post.php?post=[[ID]]&action=edit' class='do_open_file_in_media'>Open file in "Media" manager</a>
</div>
