<!-- setUploadGrid.html -->
<div class="span8 well  well-small filegrid" data-postid="[[postid]]" data-field="[[field]]">
    <div class="navbar">
        <div class="navbar-inner">
            <span data-placement="left" class="files_grid_label apm_ext_titles">FILES LIST <span class="filegridnbfieldhead"></span></span>
            <!--<a data-placement="left" data-original-title="Clear search" href="javascript:void(0);" class="hidden files_grid_actions hasTooltip  btn btn-mini apm_childtable_dosearch_clear" rel="tooltip"><i class=" icon-remove-sign"></i> </a>
            <a data-placement="left" data-original-title="Search on Title" href="javascript:void(0);" class="files_grid_actions hasTooltip  btn btn-mini apm_childtable_dosearch" rel="tooltip"><i class="icon-search"></i> </a>
            <input data-placement="left" class="hidden files_grid_actions apm_input_in_nav search-query" placeholder="Search on Title" type="text"> 
            -->
            <a    data-placement="left" rel='tooltip' title="Show the 'Add files' panel" class="hiddenbtn files_grid_actions btn btn-success btn-mini do_show_addpanel  hasTooltip"><i class="icon-plus icon-white"></i> Add</a>
            <a    data-placement="left" rel='tooltip' title="Reload grid data" class="disabled files_grid_actions btn btn-mini  hasTooltip do_refresh_newgrid"><i class="icon-refresh"></i></a>
            <a    data-placement="left" rel='tooltip' title="Delete Selected rows" class="disabled files_grid_actions btn btn-mini btn-warning  hasTooltip do_deleterow_newgrid"><i class="icon-remove icon-white"></i></a>
            <a    data-placement="left" rel='tooltip' title="Select / Unselect All rows" class="disabled files_grid_actions btn btn-mini btn-info  hasTooltip do_selectrow_newgrid"><i class="icon-check icon-white"></i></a>




        </div>
    </div>
    <!--input type="text"  class="frm_filelist"  value="[[value]]" /-->
    <div style="width:100%;">
        <table   style="width:100%; table-layout:fixed;overflow:hidden; white-space:nowrap;" class="filegridtable table table-striped table-bordered table-hover table-condensed" width="100%">
            <thead>
                <tr>
                    <th width="5%" >Sel.</th><th width="40%" >File</th><th width="55%" >Title</th>
                </tr>
            </thead>
            <tbody class="apm_tablebody" >

                <tr>
                    <td colspan="3" >Loading...</td>
                </tr>

            </tbody> 
        </table>
    </div>

</div>
