<!--
uploadGrid_row.html
--> 
<tr data-fileid="[[ID]]" data-date="[[date]]"  data-field="[[field]]" data-url="[[url]]">
    <td ><span  data-placement="right" rel='tooltip' title="Select this row" class="correct_chk hasTooltip"><input class="is_chk " type="checkbox" /></span></td>
    <td style="overflow:hidden">
        [[thumb]]
        <div><span ><a href='[[url]]' class="hasTooltip" rel='tooltip' target="_blank" title="Open [[filenameaddslash]]">[[filename]]</a></span>
            </br> <span class="info-small">([[type]] / [[size]])</span></div>
    </td>
    <td style="overflow:hidden" ><span >[[name]]  </span>

        <div class='grid_action_hide hidden'>
            <a   data-placement="left" rel='tooltip' title="Delete file"  class="actions_grid btn btn-mini btn-warning hasTooltip do_delete_file_row"><i class="icon-remove icon-white"></i></a>
            <a    data-placement="left" rel='tooltip' title="Edit file infos" class="actions_grid btn btn-mini btn-info hasTooltip do_edit_file_row"><i class="icon-pencil icon-white"></i></a>
            <a    data-placement="left" rel='tooltip' title="View file infos" class="actions_grid btn btn-mini btn-info hasTooltip do_view_file_row"><i class="icon-eye-open icon-white"></i></a>
        </div>
    </td>
</tr>