/* 
    Document   : setInBodyCategorySelect.css
    Created on : 16 mars 2013, 22:01:25
    Author     : HP
    Description:
        Purpose of the stylesheet follows.
*/

.categ_sel_block { 
    height:30px; border:1px solid #333;
}

