<td colspan="2" class="apm_rowtxt_small">[[filename]]      
    <span class="go_right filuprow" data-filedid="[[filedid]]" >
        <span class="label label-success">Uploaded</span> 
        <!--a  data-placement="left" rel='tooltip' title="Delete file"  class="btn btn-mini btn-warning hasTooltip do_del_fileuprow"><i class="icon-remove icon-white"></i></a>
        <a  data-placement="left" rel='tooltip' title="Edit file infos" class="btn btn-mini btn-info hasTooltip do_edit_filuprow"><i class="icon-pencil icon-white"></i></a-->
    </span> </td>