<tr class="uploadgrid_tr hidden"><td  class='data_td' colspan="2"  data-count="[[count]]"   data-filename="[[filename]]" data-rowtype="selected_row"><span class="apm_rowtxt_small">To upload: <span class='apm_upl_filename'>[[filename]]</span></span><br/>

        <div class='apm_inputfileinfos '>
            <div class="hidden filerow_detailinfos">Input optional file's infos:
                 <br/><input type="text" class=" uploadfield_title input-100perc" name="uploadfield_title_" value="" placeholder="File title - optionnal">
                <br/><textarea name="uploadfield_caption_"  class="uploadfield_caption input-100perc"  placeholder="File caption - optionnal"></textarea>
                <br/> <textarea name="uploadfield_description_"  class="uploadfield_description input-100perc"  placeholder="File description - optionnal"></textarea>
                <br/>         
            </div>
            <a  data-placement="left" rel='tooltip' title="Upload this file now" class="btn btn-mini btn-info hasTooltip do_start_upload"><i class="icon-ok icon-white"></i></a>
            <a  data-placement="left" rel='tooltip' title="Cancel file"  class="btn btn-mini btn-warning hasTooltip do_cancel_upload"><i class="icon-remove icon-white"></i></a>
            <a  data-placement="left" rel='tooltip' title="Edit file name, caption and description"  class="btn btn-mini btn-info hasTooltip do_showeditinfo_upload"><i class="icon-pencil icon-white"></i></a>

        </div>
    </td>
</tr>