<!--

-->
<form class="apm_upload_form uploadfrm_[[count]]" method='post' enctype="multipart/form-data"  action="admin-ajax.php?action=apm_extensions&subaction=UploadFile">
            <input type="text"  name='postid' value="[[postid]]" />
            <input type="text"  class="frm_filenb" name='filenb' value="" />
            <input type="text"  class="frm_title" name='title' value="" />
            <input type="text"  class="frm_capt" name='capt' value="" />
            <input type="text"  class="frm_desc" name='desc' value="" />
            <input type="text"  class="frm_key" name='key' value="[[field]]" />
            <input type="text"  class="frm_filename" name='filename' value="" />
			<input type="file" class="apm_uploadf apm_uploadf_[[count]]" name='apm_fileupload' />
            <input type='submit' id="submitButton" value="Submit" />
 </form>