<!-- setUploadPanel.html -->

<div class="span4 well  well-small apm_addfiles" data-postid="[[postid]]" data-field="[[field]]" >
    <div class="inputs_holder">
        <!--input type="file" class="apm_uploadf apm_uploadhidden" name='apm_fileupload' / -->
		
        <!---->
    </div>
    <div class="navbar">
        <div class="navbar-inner">
            <span class="files_grid_label apm_ext_titles">ADD</span>
            <a  data-placement="left" rel='tooltip' title="Browse to pick a file on your desktop" class="btn btn-mini btn-success do_start_selectfile files_grid_actions hasTooltip"><i class="icon-plus icon-white"></i> Pick</a>
            <a    data-placement="left" rel='tooltip' title="Hide this 'Add files' panel" class="hiddenbtn files_grid_actions btn btn-mini  do_hide_addfile hasTooltip"><i class="icon-eye-close"></i></a>

            <!--a  class="btn btn-mini btn-info do_start_selectfile"><i class="icon-plus icon-white"></i> Select</a-->

        </div>
    </div>
    <p class="info-small">
        <span>[[FileNbr]]</span>
        <span>[[Filetypes]]</span></p>
    <div class="hidden alert alert-info alertPanel">
    </div>
    <!--input type="text"  class="frm_filelist" name='NONACTIVE[[field]]' value="[[value]]" /-->
    <div >
        <table style="width:100%;" class="table table-striped  table-bordered table-hover table-condensed filegrid">
            <thead>
                <tr><th colspan="2">Files list: <a  data-placement="left" rel='tooltip' title="Upload all the files at once" class=" btn btn-mini btn-info do_uploadall files_grid_actions hasTooltip"><i class="icon-ok icon-white"></i> Upload all files</a>
                    </th></tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class='info-small'> Note:<br/>
        *The files won't be uploaded on saving the post. Click on "Upload" first.<br/>
        *You can set each file's Name, Caption and Description before uploading.</div>

</div>