/*
    setModuleGridBody.css
*/
#TabModuleGridBody{
    width:100%;
}


#apmdatagrid_new_gridbody table{
    margin:0 0!important;
}
.margless160{
    margin-top:-160px!important;
}
#apmdatagrid_new_container table tr{
    padding:0 0!important;
    margin:0 0!important;
}
#apmdatagrid_new_container table td{
    padding:0px 3px !important;
    margin:0 0!important;
}
#apmdatagrid_new_container table th{
    padding:2px 3px !important;
    margin:0 0!important;
}
.subrow_lone{
    display:block;
    float:left;
    padding:3px 0 0 5px;
    width:19px;
}

#apmdatagrid_new_container table .ori_td_cb{
    width:20px;
    padding:0px 3px 0px 8px!important;
}

#TabModuleGridBody td.ori_td_cb{
    width:5%!important;
    padding:0px 3px 0px 8px!important;
}
.ori_td_cb input{
    margin:0 0!important;
}
.ori_td_cb .btn{
    padding:0px 2px!important;
    margin:6px 0 0 0!important;
}
.ori_grid_dropdown li{
    padding: 0 1px!important;
    margin:0 0!important;
}
.ori_grid_dropdown li a{
    padding: 2px 3px!important;
    margin:0 0 0 10px!important;
}
.ori_do_unpublish, .ori_do_publish{
    cursor: pointer;
}
.ori_row_high{
    font-size: 15px;
    font-weight:bold;
    color:#004099;
    cursor: pointer;
}
.ori_row_med{
    font-size: 11px;
    font-weight:bold;
}
