/* 
    setUploadPanel.css
*/
.inputs_holder{
    position:relative;
    overflow:hidden;
    height: 0px;
}
.apm_addfiles{
    background:#eee!important;
}
.filegrid{
   background:#fefefe!important;
}
.apm_uploadhidden{
    width: 0;
    height: 0;
    position:absolute;
    left:300px;
}
.apm_uploadf{
    border:1px solid red!important;
}
.apm_inputfileinfos{
    background:#eee;
    border:2px solid #fff;
    padding:5px;
}
.correct_chk{
    display:block;
    float:right;
    margin:-8px 0 0 3px;
}
.actions_grid{
    display:block;
    float:right;
    margin: 0 3px 0 0;
}
.files_grid_actions{
    display:block;
    float:right;
    margin: 0 3px 0 0;
    
}
