/*
    setAddRelated.css
*/
.btn-group ul.dropdown-menu-addrel{
    width:180px!important;
    margin:0 0!important;
    padding:3px 3px!important;
}
ul.dropdown-menu-addrel li{
    width:170px!important;
    font-size: 12px!important;
    margin:1px 3px!important;
    padding:3px 3px;
	float: left;
}