<!-- setModuleGridTableHeader.html
-->
<table class="ori_tableheader table table-bordered  table-condensed">
    <thead>
        <tr>
            <th class='ori_td_cb'><span title='Selection' class='hasTooltip'>Sel.</span></th>
            <th class='ori_td_cb'><span title='Status' class='hasTooltip'>Sta.</span></th>
            {{ths}}
            <!--th >Account <i class='icon-chevron-down pull-right'></i> </th>
            <th >Assign to</th>
            <th >Status</th-->
            <th>Actions</th>
        </tr>
    </thead>
</table>