/*
    setModuleGrid.css
*/
#wpfooter{
    display:none;
}
#apmdatagrid_new_container{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;
    width:100%;
    position:relative;
    height:100%;
    overflow:hidden;
    padding:0 20px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}

#apmdatagrid_new_container select, #apmdatagrid_new_container input{
    font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;
}
#apmdatagrid_new_container h5.title{
    margin:0 0;
    padding: 5px 7px;
    color:#fff;
    background:#bbb;
    border-bottom: 1px solid #999;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background: -prefix-linear-gradient(top, #999, #555);
    background: linear-gradient(to bottom, #999, #555);
}

#apmdatagrid_new_centercol{
    width:100%;
    padding:0 0;
}
#apmdatagrid_new_header{
    width:70%;
    background:#fff;
    padding:0 0 0 183px;
    margin:0 30px 0 0;
}

#apmdatagrid_new_gridhead{
    width:100%;
    margin:0 0 0 0;
    padding:0 0 0 180px;
}

#apmdatagrid_new_gridhead table{
    margin:0 0!important;
    background: #eee;
    color:#444;
}
#apmdatagrid_new_gridbody{
    width:100%;
    overflow:auto;
    padding:0 0 0 180px;
}
#apmdatagrid_new_gridfooter{
    width:100%;
    background:#fff;
    padding:0 0 0 183px;
}
#apmdatagrid_new_leftpan{
    width:200px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:#dedede;
    border-bottom: 1px solid #555;
    z-index:90;

    -webkit-box-shadow:  3px 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 0  3px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0  3px rgba(0, 0, 0, 0.2);
}

#apmdatagrid_new_leftpan a:hover{
    color:#000;
    text-decoration:none;
}
#apmdatagrid_new_rightpan{
    width:800px;
    height:100%;
    position:absolute;
    top:0;
    right:-780px;
    background:#ccc;
    z-index:89;
    -webkit-box-shadow:  -2px 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -2px 0  3px rgba(0, 0, 0, 0.3);
    box-shadow: -2px 0  3px rgba(0, 0, 0, 0.3);
}

#apmdatagrid_new_statusfooter{
    width:100%;
    border-top:1px #aaa solid;
    position:absolute;
    bottom:0;
    height:22px;
    left:0;
    font-size:11px;
    background:#ccc;
    z-index:100;
}

.btnredupad{
    padding:0 2px!important;
    margin-top:-1px!important;
}

.apm_filter_float li{
    float:left;
    padding: 0 3px!important;
    height:20px!important;
    margin:1px 1px;
}
.apm_filter_float{
    margin:4px 4px!important;
}
.accordion{
    margin-top:5px!important;
    padding:2px 2px!important;
}
.apm-acc-top{
    padding:4px 6px!important;
    border:1px solid #bbb!important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: -prefix-linear-gradient(top, #eee,#bcbcbc);
    background: linear-gradient(to bottom, #eee,#bcbcbc);
}
.accordion-inner{
    background: #efefef!important;
    padding:4px 4px!important;
    margin:0 0 4px 0!important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.popover-content{
    color:#fff!important;
}
.alert{
    padding:4px 30px 4px 8px !important;
    font-size:12px!important;
}

.navbar-innermaingrid{
    max-height: 33px!important;
    min-height: 33px!important;

}
.navbar-innermaingrid select{
    width:80px;
    font-size:11px!important;
    height:23px!important;
	line-height:18px;
}
#apmdatagrid_new_leftpan .ori_advsearform select{
	line-height:18px;
}